In [13]:
import mysql.connector

# Configurar a conexão com o banco de dados
conexao = mysql.connector.connect(
    host='localhost',
    user='root',
    password='admin',
    database='clientes_banco_backup',
)

# Criar um cursor
cursor = conexao.cursor()

# Executar a consulta SQL para selecionar todos os dados da tabela
query = "SELECT * FROM clientes"
cursor.execute(query)

# Obter todos os resultados da consulta
resultados = cursor.fetchall()

# Exibir os resultados
for linha in resultados:
    print(linha)

# Fechar o cursor e a conexão
#cursor.close()
#conexao.close()

(1, 'Ruben', 'Torres', '1985-08-07', 'C', 'M', 'ruben35@hotmail.com', '(85) 94132-1176', 60000, 3, 'Pós-graduado')
(2, 'Christy', 'Zhu', '1988-02-10', 'S', 'F', 'christy12@hotmail.com', '(41) 96270-6086', 70000, 0, 'Pós-graduado')
(3, 'Elizabeth', 'Johnson', '1988-08-03', 'S', 'F', 'elizabeth5@gmail.com', '(31) 92039-5832', 80000, 5, 'Pós-graduado')
(4, 'Julio', 'Ruiz', '1985-07-31', 'S', 'M', 'julio1@hotmail.com', '(62) 93391-5891', 70000, 0, 'Pós-graduado')
(5, 'Janet', 'Alvarez', '1985-12-01', 'S', 'F', 'janet9@gmail.com', '(21) 93379-3743', 70000, 0, 'Pós-graduado')
(6, 'Marco', 'Mehta', '1984-05-04', 'C', 'M', 'marco14@outlook.com', '(85) 99019-3803', 60000, 3, 'Pós-graduado')
(7, 'Rob', 'Verhoff', '1984-07-02', 'S', 'F', 'rob4@hotmail.com', '(11) 98162-4760', 60000, 4, 'Pós-graduado')
(8, 'Shannon', 'Carlson', '1984-03-27', 'S', 'M', 'shannon38@gmail.com', '(85) 96795-9950', 70000, 0, 'Pós-graduado')
(9, 'Jacquelyn', 'Suarez', '1984-02-01', 'S', 'F', 'jacquelyn20@hotmail.com', '(31) 98159-7254', 70000, 0, 'Pós-graduado')
(10, 'Curtis', 'Lu', '1983-10-30', 'C', 'M', 'curtis9@outlook.com', '(71) 94509-1440', 60000, 4, 'Pós-graduado')
(11, 'Lauren', 'Walker', '1988-01-13', 'C', 'F', 'lauren41@hotmail.com', '(21) 93994-2382', 100000, 2, 'Pós-graduado')
(12, 'Ian', 'Jenkins', '1988-08-01', 'C', 'M', 'ian47@gmail.com', '(21) 95385-3393', 100000, 2, 'Pós-graduado')
(13, 'Sydney', 'Bennett', '1988-05-04', 'S', 'F', 'sydney23@gmail.com', '(11) 92024-9186', 100000, 3, 'Pós-graduado')
(14, 'Chloe', 'Young', '1999-02-22', 'S', 'F', 'chloe23@hotmail.com', '(71) 96890-7150', 30000, 0, 'Parcial')
(15, 'Wyatt', 'Hill', '1999-04-23', 'C', 'M', 'wyatt32@gmail.com', '(71) 98644-2695', 30000, 0, 'Parcial')
(16, 'Shannon', 'Wang', '1964-06-21', 'S', 'F', 'shannon1@hotmail.com', '(71) 94496-1712', 20000, 4, 'Ensino médio')
(17, 'Clarence', 'Rai', '1964-10-04', 'S', 'M', 'clarence32@outlook.com', '(21) 98923-7805', 30000, 2, 'Parcial')
(18, 'Jordan', 'King', '1998-09-15', 'S', 'M', 'jordan73@gmail.com', '(31) 99592-6279', 40000, 0, 'Ensino médio')
(19, 'Destiny', 'Wilson', '1998-08-29', 'S', 'F', 'destiny7@hotmail.com', '(21) 99431-6061', 40000, 0, 'Parcial')
(20, 'Ethan', 'Zhang', '1998-10-07', 'C', 'M', 'ethan20@hotmail.com', '(11) 96440-6637', 40000, 0, 'Parcial')
(21, 'Seth', 'Edwards', '1998-10-06', 'C', 'M', 'seth46@gmail.com', '(41) 97012-3526', 40000, 0, 'Parcial')
(22, 'Russell', 'Xie', '1998-09-12', 'C', 'M', 'russell7@hotmail.com', None, 60000, 0, 'Parcial')
(23, 'Alejandro', 'Beck', '1965-12-18', 'C', 'M', 'alejandro45@gmail.com', '(85) 94492-9582', 10000, 2, 'Parcial')
(24, 'Harold', 'Sai', '1966-03-29', 'S', 'M', 'harold3@hotmail.com', '(31) 95052-6286', 30000, 2, 'Parcial')
(25, 'Jessie', 'Zhao', '1966-12-02', 'C', 'M', 'jessie16@hotmail.com', '(41) 98751-8234', 30000, 2, 'Parcial')
(26, 'Jill', 'Jimenez', '1966-04-06', 'C', 'F', 'jill13@gmail.com', '(41) 97120-5603', 30000, 2, 'Parcial')
(27, 'Jimmy', 'Moreno', '1966-12-16', 'C', 'M', 'jimmy9@outlook.com', '(85) 92931-9277', 30000, 2, 'Parcial')
(28, 'Bethany', 'Yuan', '1967-02-17', 'C', 'F', 'bethany10@hotmail.com', '(62) 92998-6359', 10000, 2, 'Parcial')
(29, 'Theresa', 'Ramos', '1967-08-17', 'C', 'F', 'theresa13@hotmail.com', '(71) 92187-3667', 20000, 4, 'Ensino médio')
(30, 'Denise', 'Stone', '1967-06-06', 'C', 'F', 'denise10@hotmail.com', '(62) 94170-5754', 20000, 4, 'Ensino médio')
(31, 'Jaime', 'Nath', '1967-09-18', 'C', 'M', 'jaime41@outlook.com', '(21) 96759-5499', 20000, 4, 'Ensino médio')
(32, 'Ebony', 'Gonzalez', '1967-06-14', 'C', 'F', 'ebony19@gmail.com', '(71) 99664-2156', 20000, 4, 'Ensino médio')
(33, 'Wendy', 'Dominguez', '1968-02-19', 'C', 'F', 'wendy12@gmail.com', '(31) 97278-7135', 10000, 2, 'Parcial')
(34, 'Jennifer', 'Russell', '1998-12-13', 'C', 'F', 'jennifer93@hotmail.com', '(21) 96714-5068', 60000, 0, 'Parcial')
(35, 'Chloe', 'Garcia', '1997-11-22', 'S', 'F', 'chloe27@gmail.com', '(21) 94134-4552', 40000, 0, 'Parcial')
(36, 'Diana', 'Hernandez', '1968-03-18', 'C', 'F', 'diana2@gmail.com', '(85) 93094-3166', 10000, 2, 'Parcial')
(37, 'Marc', 'Martin', '1968-12-12', 'C', 'M', 'marc3@outlook.com', '(11) 92792-7732', 30000, 3, 'Parcial')
(38, 'Jesse', 'Murphy', '1997-07-27', 'C', 'M', 'jesse15@outlook.com', '(62) 99674-9226', 30000, 0, 'Parcial')
(39, 'Amanda', 'Carter', '1997-10-11', 'C', 'F', 'amanda53@gmail.com', '(71) 98283-7962', 60000, 0, 'Parcial')
(40, 'Megan', 'Sanchez', '1997-06-08', 'C', 'F', 'megan28@hotmail.com', None, 70000, 0, 'Parcial')
(41, 'Nathan', 'Simmons', '1996-02-19', 'C', 'M', 'nathan11@hotmail.com', '(11) 92589-9135', 60000, 0, 'Parcial')
(42, 'Adam', 'Flores', '1969-05-19', 'C', 'M', 'adam10@gmail.com', '(31) 95449-1170', 20000, 2, 'Parcial')
(43, 'Leonard', 'Nara', '1970-05-14', 'S', 'M', 'leonard18@outlook.com', '(31) 93245-4616', 30000, 3, 'Ensino médio')
(44, 'Christine', 'Yuan', '1970-03-17', 'C', 'F', 'christine4@hotmail.com', '(31) 95294-4775', 30000, 3, 'Ensino médio')
(45, 'Jaclyn', 'Lu', '1970-02-22', 'C', 'F', 'jaclyn12@outlook.com', '(21) 95966-1607', 30000, 3, 'Ensino médio')
(46, 'Jeremy', 'Powell', '1970-11-17', 'C', 'M', 'jeremy26@outlook.com', '(11) 96739-1309', 30000, 3, 'Ensino médio')
(47, 'Carol', 'Rai', '2000-07-13', 'S', 'F', 'carol8@outlook.com', '(11) 94585-9364', 40000, 0, 'Parcial')
(48, 'Alan', 'Zheng', '1971-09-02', 'C', 'M', 'alan23@hotmail.com', '(62) 96866-5250', 30000, 3, 'Ensino médio')
(49, 'Daniel', 'Johnson', '1971-07-30', 'S', 'M', 'daniel18@gmail.com', '(31) 98422-3549', 30000, 3, 'Ensino médio')
(50, 'Heidi', 'Lopez', '1971-08-02', 'S', 'F', 'heidi19@outlook.com', '(11) 92303-4933', 40000, 2, 'Parcial')
(51, 'Ana', 'Price', '2000-08-15', 'C', 'F', 'ana0@outlook.com', '(21) 99193-2686', 60000, 0, 'Parcial')
(52, 'Deanna', 'Munoz', '1972-03-05', 'C', 'F', 'deanna33@outlook.com', '(85) 92440-1858', 40000, 2, 'Parcial')
(53, 'Gilbert', 'Raje', '1972-02-29', 'C', 'M', 'gilbert35@outlook.com', '(41) 95730-5711', 40000, 2, 'Parcial')
(54, 'Michele', 'Nath', '1973-03-29', 'C', 'F', 'michele19@outlook.com', '(62) 98188-6208', 40000, 3, 'Parcial')
(55, 'Carl', 'Andersen', '1973-10-07', 'C', 'M', 'carl12@gmail.com', '(11) 97180-1463', 70000, 2, 'Graduação')
(56, 'Marc', 'Diaz', '1974-04-22', 'C', 'M', 'marc6@gmail.com', '(41) 92126-6598', 80000, 2, 'Parcial')
(57, 'Ashlee', 'Andersen', '1974-03-27', 'S', 'F', 'ashlee19@gmail.com', '(85) 97355-1991', 80000, 2, 'Parcial')
(58, 'Jon', 'Zhou', '1974-03-12', 'C', 'M', 'jon28@hotmail.com', '(85) 96675-4865', 80000, 2, 'Parcial')
(59, 'Todd', 'Gao', '1974-02-22', 'C', 'M', 'todd14@gmail.com', '(11) 96585-5605', 80000, 2, 'Parcial')
(60, 'Noah', 'Powell', '1995-08-28', 'C', 'M', 'noah5@outlook.com', '(85) 98162-6253', 40000, 0, 'Ensino médio')
(61, 'Angela', 'Murphy', '1995-04-02', 'S', 'F', 'angela41@outlook.com', None, 40000, 0, 'Ensino médio')
(62, 'Chase', 'Reed', '1995-12-02', 'C', 'M', 'chase21@hotmail.com', '', 40000, 0, 'Ensino médio')
(63, 'Jessica', 'Henderson', '1993-10-04', 'C', 'F', 'jessica29@gmail.com', '(21) 93673-6903', 60000, 0, 'Parcial')
(64, 'Grace', 'Butler', '1993-11-22', 'C', 'F', 'grace62@gmail.com', None, 70000, 0, 'Parcial')
(65, 'Caleb', 'Carter', '1996-09-20', 'S', 'M', 'caleb40@gmail.com', '(31) 97809-1800', 60000, 0, 'Parcial')
(66, 'Tiffany', 'Liang', '1975-09-18', 'S', 'F', 'tiffany17@gmail.com', '(21) 97231-3503', 80000, 2, 'Ensino médio')
(67, 'Carolyn', 'Navarro', '1975-09-16', 'S', 'F', 'carolyn30@outlook.com', '(21) 94139-6777', 80000, 2, 'Ensino médio')
(68, 'Willie', 'Raji', '1975-03-31', 'C', 'M', 'willie40@outlook.com', '(71) 97614-1995', 80000, 2, 'Ensino médio')
(69, 'Linda', 'Serrano', '1975-06-21', 'S', 'F', 'linda31@hotmail.com', '(21) 92428-2938', 80000, 2, 'Ensino médio')
(70, 'Casey', 'Luo', '1975-02-01', 'S', 'F', 'casey6@outlook.com', '(31) 96609-9916', 80000, 2, 'Ensino médio')
(71, 'Amy', 'Ye', '1976-08-09', 'S', 'F', 'amy16@hotmail.com', '(41) 92958-3807', 70000, 2, 'Ensino médio')
(72, 'Levi', 'Arun', '1976-08-23', 'S', 'M', 'levi6@gmail.com', '(71) 92754-9983', 70000, 2, 'Ensino médio')
(73, 'Felicia', 'Jimenez', '1977-11-11', 'S', 'F', 'felicia4@gmail.com', '(85) 95647-1806', 80000, 2, 'Ensino médio')
(74, 'Blake', 'Anderson', '1977-07-08', 'S', 'M', 'blake9@gmail.com', '(11) 98232-2736', 80000, 2, 'Ensino médio')
(75, 'Leah', 'Ye', '1977-09-14', 'S', 'F', 'leah7@hotmail.com', '(31) 95663-3082', 80000, 2, 'Ensino médio')
(76, 'Gina', 'Martin', '1994-01-05', 'S', 'F', 'gina1@outlook.com', '(21) 96190-3171', 40000, 0, 'Ensino médio')
(77, 'Donald', 'Gonzalez', '1979-03-06', 'S', 'M', 'donald20@gmail.com', '(31) 96897-9735', 160000, 0, 'Graduação')
(78, 'Damien', 'Chander', '1979-07-12', 'C', 'M', 'damien32@gmail.com', '(11) 97494-2293', 170000, 0, 'Graduação')
(79, 'Savannah', 'Baker', '1986-07-19', 'C', 'F', 'savannah39@gmail.com', '(11) 98574-8482', 120000, 2, 'Pós-graduado')
(80, 'Angela', 'Butler', '1986-07-30', 'S', 'F', 'angela17@gmail.com', '(31) 99100-6309', 130000, 0, 'Graduação')
(81, 'Alyssa', 'Cox', '1986-03-10', 'C', 'F', 'alyssa37@gmail.com', '(11) 94546-6962', 130000, 0, 'Graduação')
(82, 'Lucas', 'Phillips', '1977-09-07', 'S', 'M', 'lucas7@outlook.com', '(62) 94668-3507', 80000, 2, 'Parcial')
(83, 'Emily', 'Johnson', '1977-07-14', 'S', 'F', 'emily1@gmail.com', '(11) 98332-4796', 60000, 2, 'Ensino médio')
(84, 'Ryan', 'Brown', '1977-12-18', 'C', 'M', 'ryan43@gmail.com', '(85) 92637-3025', 70000, 2, 'Parcial')
(85, 'Tamara', 'Liang', '1977-09-28', 'C', 'F', 'tamara6@gmail.com', '(62) 92170-6794', 70000, 3, 'Parcial')
(86, 'Hunter', 'Davis', '1977-11-20', 'C', 'M', 'hunter64@gmail.com', '(85) 99032-4591', 80000, 2, 'Pós-graduado')
(87, 'Abigail', 'Price', '1977-01-31', 'S', 'F', 'abigail25@outlook.com', '(62) 98956-4719', 80000, 2, 'Pós-graduado')
(88, 'Trevor', 'Bryant', '1977-12-12', 'S', 'M', 'trevor18@gmail.com', None, 90000, 2, 'Parcial')
(89, 'Dalton', 'Perez', '1977-03-30', 'C', 'M', 'dalton37@outlook.com', '(21) 98302-8969', 90000, 2, 'Parcial')
(90, 'Cheryl', 'Diaz', '1987-05-01', 'C', 'F', 'cheryl4@gmail.com', '(71) 93757-3370', 90000, 2, 'Pós-graduado')
(91, 'Aimee', 'He', '1987-09-05', 'C', 'F', 'aimee13@gmail.com', '(71) 94329-9879', 100000, 0, 'Graduação')
(92, 'Cedric', 'Ma', '1982-03-27', 'S', 'M', 'cedric15@outlook.com', '(31) 95423-4764', 70000, 1, 'Parcial')
(93, 'Chad', 'Kumar', '1982-08-27', 'S', 'M', 'chad9@gmail.com', '(21) 98828-7409', 70000, 1, 'Parcial')
(94, 'Andrés', 'Anand', '1982-08-05', 'C', 'M', 'andrés18@gmail.com', '(41) 92114-3295', 60000, 1, 'Pós-graduado')
(95, 'Edwin', 'Nara', '1981-10-22', 'C', 'M', 'edwin39@outlook.com', '(71) 97194-6478', 60000, 1, 'Parcial')
(96, 'Mallory', 'Rubio', '1981-04-26', 'S', 'F', 'mallory7@hotmail.com', '(62) 93152-6617', 60000, 1, 'Parcial')
(97, 'Adam', 'Ross', '1981-03-03', 'C', 'M', 'adam2@hotmail.com', '(31) 96502-3482', 60000, 1, 'Pós-graduado')
(98, 'Latasha', 'Navarro', '1980-09-10', 'S', 'F', 'latasha10@outlook.com', None, 60000, 1, 'Parcial')
(99, 'Abby', 'Sai', '1985-05-03', 'S', 'F', 'abby4@hotmail.com', '(85) 98841-5381', 70000, 0, 'Pós-graduado')
(100, 'Julia', 'Nelson', '1985-04-16', 'S', 'F', 'julia7@outlook.com', '(41) 96066-9929', 80000, 5, 'Pós-graduado')

In [14]:
import pandas as pd
# Consulta SQL para selecionar todos os dados da tabela
query = "SELECT * FROM clientes"

# Leia os dados da tabela em um DataFrame do pandas
df = pd.read_sql(query, conexao)

# Exiba o DataFrame
display(df)

/tmp/ipykernel_8614/3444002611.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conexao)

,ID_Cliente,Nome,Sobrenome,Data_Nascimento,Estado_Civil,Sexo,Email,Telefone,Renda_Anual,Qtd_Filhos,Escolaridade
0,1,Ruben,Torres,1985-08-07,C,M,ruben35@hotmail.com,(85) 94132-1176,60000,3,Pós-graduado
1,2,Christy,Zhu,1988-02-10,S,F,christy12@hotmail.com,(41) 96270-6086,70000,0,Pós-graduado
2,3,Elizabeth,Johnson,1988-08-03,S,F,elizabeth5@gmail.com,(31) 92039-5832,80000,5,Pós-graduado
3,4,Julio,Ruiz,1985-07-31,S,M,julio1@hotmail.com,(62) 93391-5891,70000,0,Pós-graduado
4,5,Janet,Alvarez,1985-12-01,S,F,janet9@gmail.com,(21) 93379-3743,70000,0,Pós-graduado
...,...,...,...,...,...,...,...,...,...,...,...
95,96,Mallory,Rubio,1981-04-26,S,F,mallory7@hotmail.com,(62) 93152-6617,60000,1,Parcial
96,97,Adam,Ross,1981-03-03,C,M,adam2@hotmail.com,(31) 96502-3482,60000,1,Pós-graduado
97,98,Latasha,Navarro,1980-09-10,S,F,latasha10@outlook.com,None,60000,1,Parcial
98,99,Abby,Sai,1985-05-03,S,F,abby4@hotmail.com,(85) 98841-5381,70000,0,Pós-graduado
99,100,Julia,Nelson,1985-04-16,S,F,julia7@outlook.com,(41) 96066-9929,80000,5,Pós-graduado

In [15]:
#selecionar algumas colunas da tabela clientes
query = "SELECT ID_Cliente, Nome, Data_Nascimento, Email FROM clientes;"

#identacao 
#query = "SELECT ID_Cliente, Nome, Data_Nascimento, Email FROM clientes;"


cursor.execute(query)

resultados3= cursor.fetchall()

#display(resultados3)

display(resultados3)

[(1, 'Ruben', '1985-08-07', 'ruben35@hotmail.com'),
 (2, 'Christy', '1988-02-10', 'christy12@hotmail.com'),
 (3, 'Elizabeth', '1988-08-03', 'elizabeth5@gmail.com'),
 (4, 'Julio', '1985-07-31', 'julio1@hotmail.com'),
 (5, 'Janet', '1985-12-01', 'janet9@gmail.com'),
 (6, 'Marco', '1984-05-04', 'marco14@outlook.com'),
 (7, 'Rob', '1984-07-02', 'rob4@hotmail.com'),
 (8, 'Shannon', '1984-03-27', 'shannon38@gmail.com'),
 (9, 'Jacquelyn', '1984-02-01', 'jacquelyn20@hotmail.com'),
 (10, 'Curtis', '1983-10-30', 'curtis9@outlook.com'),
 (11, 'Lauren', '1988-01-13', 'lauren41@hotmail.com'),
 (12, 'Ian', '1988-08-01', 'ian47@gmail.com'),
 (13, 'Sydney', '1988-05-04', 'sydney23@gmail.com'),
 (14, 'Chloe', '1999-02-22', 'chloe23@hotmail.com'),
 (15, 'Wyatt', '1999-04-23', 'wyatt32@gmail.com'),
 (16, 'Shannon', '1964-06-21', 'shannon1@hotmail.com'),
 (17, 'Clarence', '1964-10-04', 'clarence32@outlook.com'),
 (18, 'Jordan', '1998-09-15', 'jordan73@gmail.com'),
 (19, 'Destiny', '1998-08-29', 'destiny7@hotmail.com'),
 (20, 'Ethan', '1998-10-07', 'ethan20@hotmail.com'),
 (21, 'Seth', '1998-10-06', 'seth46@gmail.com'),
 (22, 'Russell', '1998-09-12', 'russell7@hotmail.com'),
 (23, 'Alejandro', '1965-12-18', 'alejandro45@gmail.com'),
 (24, 'Harold', '1966-03-29', 'harold3@hotmail.com'),
 (25, 'Jessie', '1966-12-02', 'jessie16@hotmail.com'),
 (26, 'Jill', '1966-04-06', 'jill13@gmail.com'),
 (27, 'Jimmy', '1966-12-16', 'jimmy9@outlook.com'),
 (28, 'Bethany', '1967-02-17', 'bethany10@hotmail.com'),
 (29, 'Theresa', '1967-08-17', 'theresa13@hotmail.com'),
 (30, 'Denise', '1967-06-06', 'denise10@hotmail.com'),
 (31, 'Jaime', '1967-09-18', 'jaime41@outlook.com'),
 (32, 'Ebony', '1967-06-14', 'ebony19@gmail.com'),
 (33, 'Wendy', '1968-02-19', 'wendy12@gmail.com'),
 (34, 'Jennifer', '1998-12-13', 'jennifer93@hotmail.com'),
 (35, 'Chloe', '1997-11-22', 'chloe27@gmail.com'),
 (36, 'Diana', '1968-03-18', 'diana2@gmail.com'),
 (37, 'Marc', '1968-12-12', 'marc3@outlook.com'),
 (38, 'Jesse', '1997-07-27', 'jesse15@outlook.com'),
 (39, 'Amanda', '1997-10-11', 'amanda53@gmail.com'),
 (40, 'Megan', '1997-06-08', 'megan28@hotmail.com'),
 (41, 'Nathan', '1996-02-19', 'nathan11@hotmail.com'),
 (42, 'Adam', '1969-05-19', 'adam10@gmail.com'),
 (43, 'Leonard', '1970-05-14', 'leonard18@outlook.com'),
 (44, 'Christine', '1970-03-17', 'christine4@hotmail.com'),
 (45, 'Jaclyn', '1970-02-22', 'jaclyn12@outlook.com'),
 (46, 'Jeremy', '1970-11-17', 'jeremy26@outlook.com'),
 (47, 'Carol', '2000-07-13', 'carol8@outlook.com'),
 (48, 'Alan', '1971-09-02', 'alan23@hotmail.com'),
 (49, 'Daniel', '1971-07-30', 'daniel18@gmail.com'),
 (50, 'Heidi', '1971-08-02', 'heidi19@outlook.com'),
 (51, 'Ana', '2000-08-15', 'ana0@outlook.com'),
 (52, 'Deanna', '1972-03-05', 'deanna33@outlook.com'),
 (53, 'Gilbert', '1972-02-29', 'gilbert35@outlook.com'),
 (54, 'Michele', '1973-03-29', 'michele19@outlook.com'),
 (55, 'Carl', '1973-10-07', 'carl12@gmail.com'),
 (56, 'Marc', '1974-04-22', 'marc6@gmail.com'),
 (57, 'Ashlee', '1974-03-27', 'ashlee19@gmail.com'),
 (58, 'Jon', '1974-03-12', 'jon28@hotmail.com'),
 (59, 'Todd', '1974-02-22', 'todd14@gmail.com'),
 (60, 'Noah', '1995-08-28', 'noah5@outlook.com'),
 (61, 'Angela', '1995-04-02', 'angela41@outlook.com'),
 (62, 'Chase', '1995-12-02', 'chase21@hotmail.com'),
 (63, 'Jessica', '1993-10-04', 'jessica29@gmail.com'),
 (64, 'Grace', '1993-11-22', 'grace62@gmail.com'),
 (65, 'Caleb', '1996-09-20', 'caleb40@gmail.com'),
 (66, 'Tiffany', '1975-09-18', 'tiffany17@gmail.com'),
 (67, 'Carolyn', '1975-09-16', 'carolyn30@outlook.com'),
 (68, 'Willie', '1975-03-31', 'willie40@outlook.com'),
 (69, 'Linda', '1975-06-21', 'linda31@hotmail.com'),
 (70, 'Casey', '1975-02-01', 'casey6@outlook.com'),
 (71, 'Amy', '1976-08-09', 'amy16@hotmail.com'),
 (72, 'Levi', '1976-08-23', 'levi6@gmail.com'),
 (73, 'Felicia', '1977-11-11', 'felicia4@gmail.com'),
 (74, 'Blake', '1977-07-08', 'blake9@gmail.com'),
 (75, 'Leah', '1977-09-14', 'leah7@hotmail.com'),
 (76, 'Gina', '1994-01-05', 'gina1@outlook.com'),
 (77, 'Donald', '1979-03-06', 'donald20@gmail.com'),
 (78, 'Damien', '1979-07-12', 'damien32@gmail.com'),
 (79, 'Savannah', '1986-07-19', 'savannah39@gmail.com'),
 (80, 'Angela', '1986-07-30', 'angela17@gmail.com'),
 (81, 'Alyssa', '1986-03-10', 'alyssa37@gmail.com'),
 (82, 'Lucas', '1977-09-07', 'lucas7@outlook.com'),
 (83, 'Emily', '1977-07-14', 'emily1@gmail.com'),
 (84, 'Ryan', '1977-12-18', 'ryan43@gmail.com'),
 (85, 'Tamara', '1977-09-28', 'tamara6@gmail.com'),
 (86, 'Hunter', '1977-11-20', 'hunter64@gmail.com'),
 (87, 'Abigail', '1977-01-31', 'abigail25@outlook.com'),
 (88, 'Trevor', '1977-12-12', 'trevor18@gmail.com'),
 (89, 'Dalton', '1977-03-30', 'dalton37@outlook.com'),
 (90, 'Cheryl', '1987-05-01', 'cheryl4@gmail.com'),
 (91, 'Aimee', '1987-09-05', 'aimee13@gmail.com'),
 (92, 'Cedric', '1982-03-27', 'cedric15@outlook.com'),
 (93, 'Chad', '1982-08-27', 'chad9@gmail.com'),
 (94, 'Andrés', '1982-08-05', 'andrés18@gmail.com'),
 (95, 'Edwin', '1981-10-22', 'edwin39@outlook.com'),
 (96, 'Mallory', '1981-04-26', 'mallory7@hotmail.com'),
 (97, 'Adam', '1981-03-03', 'adam2@hotmail.com'),
 (98, 'Latasha', '1980-09-10', 'latasha10@outlook.com'),
 (99, 'Abby', '1985-05-03', 'abby4@hotmail.com'),
 (100, 'Julia', '1985-04-16', 'julia7@outlook.com')]

In [16]:



#dar nomes nas colunas (AS)
#selecionar algumas colunas da tabela clientes
query = "SELECT ID_Cliente AS 'ID Cliente', Nome AS 'Nome do Cliente', Data_Nascimento AS 'Data de Nascimento', Email AS 'E-mail do Cliente' FROM clientes;"

#identacao 
#query = "SELECT ID_Cliente, Nome, Data_Nascimento, Email FROM clientes;"


cursor.execute(query)

resultados3= cursor.fetchall()

#display(resultados3)

resultados3

df2 = pd.read_sql(query, conexao)

# Exiba o DataFrame
display(df2)

/tmp/ipykernel_8614/3639893590.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df2 = pd.read_sql(query, conexao)

    ID Cliente Nome do Cliente Data de Nascimento      E-mail do Cliente
0            1           Ruben         1985-08-07    ruben35@hotmail.com
1            2         Christy         1988-02-10  christy12@hotmail.com
2            3       Elizabeth         1988-08-03   elizabeth5@gmail.com
3            4           Julio         1985-07-31     julio1@hotmail.com
4            5           Janet         1985-12-01       janet9@gmail.com
..         ...             ...                ...                    ...
95          96         Mallory         1981-04-26   mallory7@hotmail.com
96          97            Adam         1981-03-03      adam2@hotmail.com
97          98         Latasha         1980-09-10  latasha10@outlook.com
98          99            Abby         1985-05-03      abby4@hotmail.com
99         100           Julia         1985-04-16     julia7@outlook.com

[100 rows x 4 columns]

# selecionar apenas as 5 primeiras linhas da tabela dos produtos

In [17]:
#selecionar algumas colunas da tabela clientes
query = "SELECT * FROM clientes LIMIT 5;"


cursor.execute(query)

novo= cursor.fetchall()

display(novo)

[(1,
  'Ruben',
  'Torres',
  '1985-08-07',
  'C',
  'M',
  'ruben35@hotmail.com',
  '(85) 94132-1176',
  60000,
  3,
  'Pós-graduado'),
 (2,
  'Christy',
  'Zhu',
  '1988-02-10',
  'S',
  'F',
  'christy12@hotmail.com',
  '(41) 96270-6086',
  70000,
  0,
  'Pós-graduado'),
 (3,
  'Elizabeth',
  'Johnson',
  '1988-08-03',
  'S',
  'F',
  'elizabeth5@gmail.com',
  '(31) 92039-5832',
  80000,
  5,
  'Pós-graduado'),
 (4,
  'Julio',
  'Ruiz',
  '1985-07-31',
  'S',
  'M',
  'julio1@hotmail.com',
  '(62) 93391-5891',
  70000,
  0,
  'Pós-graduado'),
 (5,
  'Janet',
  'Alvarez',
  '1985-12-01',
  'S',
  'F',
  'janet9@gmail.com',
  '(21) 93379-3743',
  70000,
  0,
  'Pós-graduado')]

# Selecionar todas as linhas da tabela produtos, Mas, quero ordenar pela coluna Preco_unit, ou cliente pela renda_anual

In [18]:


#maior por menor
#menor para o maior
query = "SELECT * FROM clientes ORDER BY Renda_anual ASC;" # =>menor para o maior
cursor.execute(query)

crescente= cursor.fetchall()

display(crescente)

[(23,
  'Alejandro',
  'Beck',
  '1965-12-18',
  'C',
  'M',
  'alejandro45@gmail.com',
  '(85) 94492-9582',
  10000,
  2,
  'Parcial'),
 (28,
  'Bethany',
  'Yuan',
  '1967-02-17',
  'C',
  'F',
  'bethany10@hotmail.com',
  '(62) 92998-6359',
  10000,
  2,
  'Parcial'),
 (33,
  'Wendy',
  'Dominguez',
  '1968-02-19',
  'C',
  'F',
  'wendy12@gmail.com',
  '(31) 97278-7135',
  10000,
  2,
  'Parcial'),
 (36,
  'Diana',
  'Hernandez',
  '1968-03-18',
  'C',
  'F',
  'diana2@gmail.com',
  '(85) 93094-3166',
  10000,
  2,
  'Parcial'),
 (32,
  'Ebony',
  'Gonzalez',
  '1967-06-14',
  'C',
  'F',
  'ebony19@gmail.com',
  '(71) 99664-2156',
  20000,
  4,
  'Ensino médio'),
 (16,
  'Shannon',
  'Wang',
  '1964-06-21',
  'S',
  'F',
  'shannon1@hotmail.com',
  '(71) 94496-1712',
  20000,
  4,
  'Ensino médio'),
 (29,
  'Theresa',
  'Ramos',
  '1967-08-17',
  'C',
  'F',
  'theresa13@hotmail.com',
  '(71) 92187-3667',
  20000,
  4,
  'Ensino médio'),
 (30,
  'Denise',
  'Stone',
  '1967-06-06',
  'C',
  'F',
  'denise10@hotmail.com',
  '(62) 94170-5754',
  20000,
  4,
  'Ensino médio'),
 (31,
  'Jaime',
  'Nath',
  '1967-09-18',
  'C',
  'M',
  'jaime41@outlook.com',
  '(21) 96759-5499',
  20000,
  4,
  'Ensino médio'),
 (42,
  'Adam',
  'Flores',
  '1969-05-19',
  'C',
  'M',
  'adam10@gmail.com',
  '(31) 95449-1170',
  20000,
  2,
  'Parcial'),
 (37,
  'Marc',
  'Martin',
  '1968-12-12',
  'C',
  'M',
  'marc3@outlook.com',
  '(11) 92792-7732',
  30000,
  3,
  'Parcial'),
 (48,
  'Alan',
  'Zheng',
  '1971-09-02',
  'C',
  'M',
  'alan23@hotmail.com',
  '(62) 96866-5250',
  30000,
  3,
  'Ensino médio'),
 (38,
  'Jesse',
  'Murphy',
  '1997-07-27',
  'C',
  'M',
  'jesse15@outlook.com',
  '(62) 99674-9226',
  30000,
  0,
  'Parcial'),
 (46,
  'Jeremy',
  'Powell',
  '1970-11-17',
  'C',
  'M',
  'jeremy26@outlook.com',
  '(11) 96739-1309',
  30000,
  3,
  'Ensino médio'),
 (45,
  'Jaclyn',
  'Lu',
  '1970-02-22',
  'C',
  'F',
  'jaclyn12@outlook.com',
  '(21) 95966-1607',
  30000,
  3,
  'Ensino médio'),
 (44,
  'Christine',
  'Yuan',
  '1970-03-17',
  'C',
  'F',
  'christine4@hotmail.com',
  '(31) 95294-4775',
  30000,
  3,
  'Ensino médio'),
 (27,
  'Jimmy',
  'Moreno',
  '1966-12-16',
  'C',
  'M',
  'jimmy9@outlook.com',
  '(85) 92931-9277',
  30000,
  2,
  'Parcial'),
 (26,
  'Jill',
  'Jimenez',
  '1966-04-06',
  'C',
  'F',
  'jill13@gmail.com',
  '(41) 97120-5603',
  30000,
  2,
  'Parcial'),
 (25,
  'Jessie',
  'Zhao',
  '1966-12-02',
  'C',
  'M',
  'jessie16@hotmail.com',
  '(41) 98751-8234',
  30000,
  2,
  'Parcial'),
 (24,
  'Harold',
  'Sai',
  '1966-03-29',
  'S',
  'M',
  'harold3@hotmail.com',
  '(31) 95052-6286',
  30000,
  2,
  'Parcial'),
 (43,
  'Leonard',
  'Nara',
  '1970-05-14',
  'S',
  'M',
  'leonard18@outlook.com',
  '(31) 93245-4616',
  30000,
  3,
  'Ensino médio'),
 (17,
  'Clarence',
  'Rai',
  '1964-10-04',
  'S',
  'M',
  'clarence32@outlook.com',
  '(21) 98923-7805',
  30000,
  2,
  'Parcial'),
 (15,
  'Wyatt',
  'Hill',
  '1999-04-23',
  'C',
  'M',
  'wyatt32@gmail.com',
  '(71) 98644-2695',
  30000,
  0,
  'Parcial'),
 (14,
  'Chloe',
  'Young',
  '1999-02-22',
  'S',
  'F',
  'chloe23@hotmail.com',
  '(71) 96890-7150',
  30000,
  0,
  'Parcial'),
 (49,
  'Daniel',
  'Johnson',
  '1971-07-30',
  'S',
  'M',
  'daniel18@gmail.com',
  '(31) 98422-3549',
  30000,
  3,
  'Ensino médio'),
 (21,
  'Seth',
  'Edwards',
  '1998-10-06',
  'C',
  'M',
  'seth46@gmail.com',
  '(41) 97012-3526',
  40000,
  0,
  'Parcial'),
 (62,
  'Chase',
  'Reed',
  '1995-12-02',
  'C',
  'M',
  'chase21@hotmail.com',
  '',
  40000,
  0,
  'Ensino médio'),
 (61,
  'Angela',
  'Murphy',
  '1995-04-02',
  'S',
  'F',
  'angela41@outlook.com',
  None,
  40000,
  0,
  'Ensino médio'),
 (60,
  'Noah',
  'Powell',
  '1995-08-28',
  'C',
  'M',
  'noah5@outlook.com',
  '(85) 98162-6253',
  40000,
  0,
  'Ensino médio'),
 (76,
  'Gina',
  'Martin',
  '1994-01-05',
  'S',
  'F',
  'gina1@outlook.com',
  '(21) 96190-3171',
  40000,
  0,
  'Ensino médio'),
 (54,
  'Michele',
  'Nath',
  '1973-03-29',
  'C',
  'F',
  'michele19@outlook.com',
  '(62) 98188-6208',
  40000,
  3,
  'Parcial'),
 (53,
  'Gilbert',
  'Raje',
  '1972-02-29',
  'C',
  'M',
  'gilbert35@outlook.com',
  '(41) 95730-5711',
  40000,
  2,
  'Parcial'),
 (35,
  'Chloe',
  'Garcia',
  '1997-11-22',
  'S',
  'F',
  'chloe27@gmail.com',
  '(21) 94134-4552',
  40000,
  0,
  'Parcial'),
 (47,
  'Carol',
  'Rai',
  '2000-07-13',
  'S',
  'F',
  'carol8@outlook.com',
  '(11) 94585-9364',
  40000,
  0,
  'Parcial'),
 (52,
  'Deanna',
  'Munoz',
  '1972-03-05',
  'C',
  'F',
  'deanna33@outlook.com',
  '(85) 92440-1858',
  40000,
  2,
  'Parcial'),
 (50,
  'Heidi',
  'Lopez',
  '1971-08-02',
  'S',
  'F',
  'heidi19@outlook.com',
  '(11) 92303-4933',
  40000,
  2,
  'Parcial'),
 (18,
  'Jordan',
  'King',
  '1998-09-15',
  'S',
  'M',
  'jordan73@gmail.com',
  '(31) 99592-6279',
  40000,
  0,
  'Ensino médio'),
 (19,
  'Destiny',
  'Wilson',
  '1998-08-29',
  'S',
  'F',
  'destiny7@hotmail.com',
  '(21) 99431-6061',
  40000,
  0,
  'Parcial'),
 (20,
  'Ethan',
  'Zhang',
  '1998-10-07',
  'C',
  'M',
  'ethan20@hotmail.com',
  '(11) 96440-6637',
  40000,
  0,
  'Parcial'),
 (51,
  'Ana',
  'Price',
  '2000-08-15',
  'C',
  'F',
  'ana0@outlook.com',
  '(21) 99193-2686',
  60000,
  0,
  'Parcial'),
 (83,
  'Emily',
  'Johnson',
  '1977-07-14',
  'S',
  'F',
  'emily1@gmail.com',
  '(11) 98332-4796',
  60000,
  2,
  'Ensino médio'),
 (65,
  'Caleb',
  'Carter',
  '1996-09-20',
  'S',
  'M',
  'caleb40@gmail.com',
  '(31) 97809-1800',
  60000,
  0,
  'Parcial'),
 (63,
  'Jessica',
  'Henderson',
  '1993-10-04',
  'C',
  'F',
  'jessica29@gmail.com',
  '(21) 93673-6903',
  60000,
  0,
  'Parcial'),
 (41,
  'Nathan',
  'Simmons',
  '1996-02-19',
  'C',
  'M',
  'nathan11@hotmail.com',
  '(11) 92589-9135',
  60000,
  0,
  'Parcial'),
 (39,
  'Amanda',
  'Carter',
  '1997-10-11',
  'C',
  'F',
  'amanda53@gmail.com',
  '(71) 98283-7962',
  60000,
  0,
  'Parcial'),
 (34,
  'Jennifer',
  'Russell',
  '1998-12-13',
  'C',
  'F',
  'jennifer93@hotmail.com',
  '(21) 96714-5068',
  60000,
  0,
  'Parcial'),
 (22,
  'Russell',
  'Xie',
  '1998-09-12',
  'C',
  'M',
  'russell7@hotmail.com',
  None,
  60000,
  0,
  'Parcial'),
 (1,
  'Ruben',
  'Torres',
  '1985-08-07',
  'C',
  'M',
  'ruben35@hotmail.com',
  '(85) 94132-1176',
  60000,
  3,
  'Pós-graduado'),
 (94,
  'Andrés',
  'Anand',
  '1982-08-05',
  'C',
  'M',
  'andrés18@gmail.com',
  '(41) 92114-3295',
  60000,
  1,
  'Pós-graduado'),
 (10,
  'Curtis',
  'Lu',
  '1983-10-30',
  'C',
  'M',
  'curtis9@outlook.com',
  '(71) 94509-1440',
  60000,
  4,
  'Pós-graduado'),
 (95,
  'Edwin',
  'Nara',
  '1981-10-22',
  'C',
  'M',
  'edwin39@outlook.com',
  '(71) 97194-6478',
  60000,
  1,
  'Parcial'),
 (96,
  'Mallory',
  'Rubio',
  '1981-04-26',
  'S',
  'F',
  'mallory7@hotmail.com',
  '(62) 93152-6617',
  60000,
  1,
  'Parcial'),
 (98,
  'Latasha',
  'Navarro',
  '1980-09-10',
  'S',
  'F',
  'latasha10@outlook.com',
  None,
  60000,
  1,
  'Parcial'),
 (7,
  'Rob',
  'Verhoff',
  '1984-07-02',
  'S',
  'F',
  'rob4@hotmail.com',
  '(11) 98162-4760',
  60000,
  4,
  'Pós-graduado'),
 (6,
  'Marco',
  'Mehta',
  '1984-05-04',
  'C',
  'M',
  'marco14@outlook.com',
  '(85) 99019-3803',
  60000,
  3,
  'Pós-graduado'),
 (97,
  'Adam',
  'Ross',
  '1981-03-03',
  'C',
  'M',
  'adam2@hotmail.com',
  '(31) 96502-3482',
  60000,
  1,
  'Pós-graduado'),
 (2,
  'Christy',
  'Zhu',
  '1988-02-10',
  'S',
  'F',
  'christy12@hotmail.com',
  '(41) 96270-6086',
  70000,
  0,
  'Pós-graduado'),
 (99,
  'Abby',
  'Sai',
  '1985-05-03',
  'S',
  'F',
  'abby4@hotmail.com',
  '(85) 98841-5381',
  70000,
  0,
  'Pós-graduado'),
 (71,
  'Amy',
  'Ye',
  '1976-08-09',
  'S',
  'F',
  'amy16@hotmail.com',
  '(41) 92958-3807',
  70000,
  2,
  'Ensino médio'),
 (72,
  'Levi',
  'Arun',
  '1976-08-23',
  'S',
  'M',
  'levi6@gmail.com',
  '(71) 92754-9983',
  70000,
  2,
  'Ensino médio'),
 (84,
  'Ryan',
  'Brown',
  '1977-12-18',
  'C',
  'M',
  'ryan43@gmail.com',
  '(85) 92637-3025',
  70000,
  2,
  'Parcial'),
 (93,
  'Chad',
  'Kumar',
  '1982-08-27',
  'S',
  'M',
  'chad9@gmail.com',
  '(21) 98828-7409',
  70000,
  1,
  'Parcial'),
 (92,
  'Cedric',
  'Ma',
  '1982-03-27',
  'S',
  'M',
  'cedric15@outlook.com',
  '(31) 95423-4764',
  70000,
  1,
  'Parcial'),
 (85,
  'Tamara',
  'Liang',
  '1977-09-28',
  'C',
  'F',
  'tamara6@gmail.com',
  '(62) 92170-6794',
  70000,
  3,
  'Parcial'),
 (4,
  'Julio',
  'Ruiz',
  '1985-07-31',
  'S',
  'M',
  'julio1@hotmail.com',
  '(62) 93391-5891',
  70000,
  0,
  'Pós-graduado'),
 (5,
  'Janet',
  'Alvarez',
  '1985-12-01',
  'S',
  'F',
  'janet9@gmail.com',
  '(21) 93379-3743',
  70000,
  0,
  'Pós-graduado'),
 (8,
  'Shannon',
  'Carlson',
  '1984-03-27',
  'S',
  'M',
  'shannon38@gmail.com',
  '(85) 96795-9950',
  70000,
  0,
  'Pós-graduado'),
 (9,
  'Jacquelyn',
  'Suarez',
  '1984-02-01',
  'S',
  'F',
  'jacquelyn20@hotmail.com',
  '(31) 98159-7254',
  70000,
  0,
  'Pós-graduado'),
 (40,
  'Megan',
  'Sanchez',
  '1997-06-08',
  'C',
  'F',
  'megan28@hotmail.com',
  None,
  70000,
  0,
  'Parcial'),
 (55,
  'Carl',
  'Andersen',
  '1973-10-07',
  'C',
  'M',
  'carl12@gmail.com',
  '(11) 97180-1463',
  70000,
  2,
  'Graduação'),
 (64,
  'Grace',
  'Butler',
  '1993-11-22',
  'C',
  'F',
  'grace62@gmail.com',
  None,
  70000,
  0,
  'Parcial'),
 (56,
  'Marc',
  'Diaz',
  '1974-04-22',
  'C',
  'M',
  'marc6@gmail.com',
  '(41) 92126-6598',
  80000,
  2,
  'Parcial'),
 (100,
  'Julia',
  'Nelson',
  '1985-04-16',
  'S',
  'F',
  'julia7@outlook.com',
  '(41) 96066-9929',
  80000,
  5,
  'Pós-graduado'),
 (3,
  'Elizabeth',
  'Johnson',
  '1988-08-03',
  'S',
  'F',
  'elizabeth5@gmail.com',
  '(31) 92039-5832',
  80000,
  5,
  'Pós-graduado'),
 (87,
  'Abigail',
  'Price',
  '1977-01-31',
  'S',
  'F',
  'abigail25@outlook.com',
  '(62) 98956-4719',
  80000,
  2,
  'Pós-graduado'),
 (86,
  'Hunter',
  'Davis',
  '1977-11-20',
  'C',
  'M',
  'hunter64@gmail.com',
  '(85) 99032-4591',
  80000,
  2,
  'Pós-graduado'),
 (82,
  'Lucas',
  'Phillips',
  '1977-09-07',
  'S',
  'M',
  'lucas7@outlook.com',
  '(62) 94668-3507',
  80000,
  2,
  'Parcial'),
 (66,
  'Tiffany',
  'Liang',
  '1975-09-18',
  'S',
  'F',
  'tiffany17@gmail.com',
  '(21) 97231-3503',
  80000,
  2,
  'Ensino médio'),
 (67,
  'Carolyn',
  'Navarro',
  '1975-09-16',
  'S',
  'F',
  'carolyn30@outlook.com',
  '(21) 94139-6777',
  80000,
  2,
  'Ensino médio'),
 (68,
  'Willie',
  'Raji',
  '1975-03-31',
  'C',
  'M',
  'willie40@outlook.com',
  '(71) 97614-1995',
  80000,
  2,
  'Ensino médio'),
 (69,
  'Linda',
  'Serrano',
  '1975-06-21',
  'S',
  'F',
  'linda31@hotmail.com',
  '(21) 92428-2938',
  80000,
  2,
  'Ensino médio'),
 (57,
  'Ashlee',
  'Andersen',
  '1974-03-27',
  'S',
  'F',
  'ashlee19@gmail.com',
  '(85) 97355-1991',
  80000,
  2,
  'Parcial'),
 (75,
  'Leah',
  'Ye',
  '1977-09-14',
  'S',
  'F',
  'leah7@hotmail.com',
  '(31) 95663-3082',
  80000,
  2,
  'Ensino médio'),
 (74,
  'Blake',
  'Anderson',
  '1977-07-08',
  'S',
  'M',
  'blake9@gmail.com',
  '(11) 98232-2736',
  80000,
  2,
  'Ensino médio'),
 (73,
  'Felicia',
  'Jimenez',
  '1977-11-11',
  'S',
  'F',
  'felicia4@gmail.com',
  '(85) 95647-1806',
  80000,
  2,
  'Ensino médio'),
 (58,
  'Jon',
  'Zhou',
  '1974-03-12',
  'C',
  'M',
  'jon28@hotmail.com',
  '(85) 96675-4865',
  80000,
  2,
  'Parcial'),
 (70,
  'Casey',
  'Luo',
  '1975-02-01',
  'S',
  'F',
  'casey6@outlook.com',
  '(31) 96609-9916',
  80000,
  2,
  'Ensino médio'),
 (59,
  'Todd',
  'Gao',
  '1974-02-22',
  'C',
  'M',
  'todd14@gmail.com',
  '(11) 96585-5605',
  80000,
  2,
  'Parcial'),
 (89,
  'Dalton',
  'Perez',
  '1977-03-30',
  'C',
  'M',
  'dalton37@outlook.com',
  '(21) 98302-8969',
  90000,
  2,
  'Parcial'),
 (90,
  'Cheryl',
  'Diaz',
  '1987-05-01',
  'C',
  'F',
  'cheryl4@gmail.com',
  '(71) 93757-3370',
  90000,
  2,
  'Pós-graduado'),
 (88,
  'Trevor',
  'Bryant',
  '1977-12-12',
  'S',
  'M',
  'trevor18@gmail.com',
  None,
  90000,
  2,
  'Parcial'),
 (91,
  'Aimee',
  'He',
  '1987-09-05',
  'C',
  'F',
  'aimee13@gmail.com',
  '(71) 94329-9879',
  100000,
  0,
  'Graduação'),
 (13,
  'Sydney',
  'Bennett',
  '1988-05-04',
  'S',
  'F',
  'sydney23@gmail.com',
  '(11) 92024-9186',
  100000,
  3,
  'Pós-graduado'),
 (12,
  'Ian',
  'Jenkins',
  '1988-08-01',
  'C',
  'M',
  'ian47@gmail.com',
  '(21) 95385-3393',
  100000,
  2,
  'Pós-graduado'),
 (11,
  'Lauren',
  'Walker',
  '1988-01-13',
  'C',
  'F',
  'lauren41@hotmail.com',
  '(21) 93994-2382',
  100000,
  2,
  'Pós-graduado'),
 (79,
  'Savannah',
  'Baker',
  '1986-07-19',
  'C',
  'F',
  'savannah39@gmail.com',
  '(11) 98574-8482',
  120000,
  2,
  'Pós-graduado'),
 (81,
  'Alyssa',
  'Cox',
  '1986-03-10',
  'C',
  'F',
  'alyssa37@gmail.com',
  '(11) 94546-6962',
  130000,
  0,
  'Graduação'),
 (80,
  'Angela',
  'Butler',
  '1986-07-30',
  'S',
  'F',
  'angela17@gmail.com',
  '(31) 99100-6309',
  130000,
  0,
  'Graduação'),
 (77,
  'Donald',
  'Gonzalez',
  '1979-03-06',
  'S',
  'M',
  'donald20@gmail.com',
  '(31) 96897-9735',
  160000,
  0,
  'Graduação'),
 (78,
  'Damien',
  'Chander',
  '1979-07-12',
  'C',
  'M',
  'damien32@gmail.com',
  '(11) 97494-2293',
  170000,
  0,
  'Graduação')]

In [19]:
dfcre = pd.read_sql(query, conexao)

# Exiba o DataFrame
display(dfcre)

/tmp/ipykernel_8614/2226919468.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dfcre = pd.read_sql(query, conexao)

,ID_Cliente,Nome,Sobrenome,Data_Nascimento,Estado_Civil,Sexo,Email,Telefone,Renda_Anual,Qtd_Filhos,Escolaridade
0,23,Alejandro,Beck,1965-12-18,C,M,alejandro45@gmail.com,(85) 94492-9582,10000,2,Parcial
1,28,Bethany,Yuan,1967-02-17,C,F,bethany10@hotmail.com,(62) 92998-6359,10000,2,Parcial
2,33,Wendy,Dominguez,1968-02-19,C,F,wendy12@gmail.com,(31) 97278-7135,10000,2,Parcial
3,36,Diana,Hernandez,1968-03-18,C,F,diana2@gmail.com,(85) 93094-3166,10000,2,Parcial
4,32,Ebony,Gonzalez,1967-06-14,C,F,ebony19@gmail.com,(71) 99664-2156,20000,4,Ensino médio
...,...,...,...,...,...,...,...,...,...,...,...
95,79,Savannah,Baker,1986-07-19,C,F,savannah39@gmail.com,(11) 98574-8482,120000,2,Pós-graduado
96,81,Alyssa,Cox,1986-03-10,C,F,alyssa37@gmail.com,(11) 94546-6962,130000,0,Graduação
97,80,Angela,Butler,1986-07-30,S,F,angela17@gmail.com,(31) 99100-6309,130000,0,Graduação
98,77,Donald,Gonzalez,1979-03-06,S,M,donald20@gmail.com,(31) 96897-9735,160000,0,Graduação
99,78,Damien,Chander,1979-07-12,C,M,damien32@gmail.com,(11) 97494-2293,170000,0,Graduação

# agora maior para o menor DECRESCENTE

In [20]:

#Selecionar todas as linhas da tabela produtos, Mas, quero ordenar pela coluna Preco_unit, ou cliente pela renda_anual
#maior por menor
#menor para o maior
query = "SELECT * FROM clientes ORDER BY Renda_anual DESC;"
#cursor.execute(query)

cursor.execute(query)

des= cursor.fetchall()

display(des)

[(78,
  'Damien',
  'Chander',
  '1979-07-12',
  'C',
  'M',
  'damien32@gmail.com',
  '(11) 97494-2293',
  170000,
  0,
  'Graduação'),
 (77,
  'Donald',
  'Gonzalez',
  '1979-03-06',
  'S',
  'M',
  'donald20@gmail.com',
  '(31) 96897-9735',
  160000,
  0,
  'Graduação'),
 (80,
  'Angela',
  'Butler',
  '1986-07-30',
  'S',
  'F',
  'angela17@gmail.com',
  '(31) 99100-6309',
  130000,
  0,
  'Graduação'),
 (81,
  'Alyssa',
  'Cox',
  '1986-03-10',
  'C',
  'F',
  'alyssa37@gmail.com',
  '(11) 94546-6962',
  130000,
  0,
  'Graduação'),
 (79,
  'Savannah',
  'Baker',
  '1986-07-19',
  'C',
  'F',
  'savannah39@gmail.com',
  '(11) 98574-8482',
  120000,
  2,
  'Pós-graduado'),
 (91,
  'Aimee',
  'He',
  '1987-09-05',
  'C',
  'F',
  'aimee13@gmail.com',
  '(71) 94329-9879',
  100000,
  0,
  'Graduação'),
 (11,
  'Lauren',
  'Walker',
  '1988-01-13',
  'C',
  'F',
  'lauren41@hotmail.com',
  '(21) 93994-2382',
  100000,
  2,
  'Pós-graduado'),
 (12,
  'Ian',
  'Jenkins',
  '1988-08-01',
  'C',
  'M',
  'ian47@gmail.com',
  '(21) 95385-3393',
  100000,
  2,
  'Pós-graduado'),
 (13,
  'Sydney',
  'Bennett',
  '1988-05-04',
  'S',
  'F',
  'sydney23@gmail.com',
  '(11) 92024-9186',
  100000,
  3,
  'Pós-graduado'),
 (90,
  'Cheryl',
  'Diaz',
  '1987-05-01',
  'C',
  'F',
  'cheryl4@gmail.com',
  '(71) 93757-3370',
  90000,
  2,
  'Pós-graduado'),
 (89,
  'Dalton',
  'Perez',
  '1977-03-30',
  'C',
  'M',
  'dalton37@outlook.com',
  '(21) 98302-8969',
  90000,
  2,
  'Parcial'),
 (88,
  'Trevor',
  'Bryant',
  '1977-12-12',
  'S',
  'M',
  'trevor18@gmail.com',
  None,
  90000,
  2,
  'Parcial'),
 (74,
  'Blake',
  'Anderson',
  '1977-07-08',
  'S',
  'M',
  'blake9@gmail.com',
  '(11) 98232-2736',
  80000,
  2,
  'Ensino médio'),
 (100,
  'Julia',
  'Nelson',
  '1985-04-16',
  'S',
  'F',
  'julia7@outlook.com',
  '(41) 96066-9929',
  80000,
  5,
  'Pós-graduado'),
 (73,
  'Felicia',
  'Jimenez',
  '1977-11-11',
  'S',
  'F',
  'felicia4@gmail.com',
  '(85) 95647-1806',
  80000,
  2,
  'Ensino médio'),
 (70,
  'Casey',
  'Luo',
  '1975-02-01',
  'S',
  'F',
  'casey6@outlook.com',
  '(31) 96609-9916',
  80000,
  2,
  'Ensino médio'),
 (69,
  'Linda',
  'Serrano',
  '1975-06-21',
  'S',
  'F',
  'linda31@hotmail.com',
  '(21) 92428-2938',
  80000,
  2,
  'Ensino médio'),
 (68,
  'Willie',
  'Raji',
  '1975-03-31',
  'C',
  'M',
  'willie40@outlook.com',
  '(71) 97614-1995',
  80000,
  2,
  'Ensino médio'),
 (67,
  'Carolyn',
  'Navarro',
  '1975-09-16',
  'S',
  'F',
  'carolyn30@outlook.com',
  '(21) 94139-6777',
  80000,
  2,
  'Ensino médio'),
 (66,
  'Tiffany',
  'Liang',
  '1975-09-18',
  'S',
  'F',
  'tiffany17@gmail.com',
  '(21) 97231-3503',
  80000,
  2,
  'Ensino médio'),
 (59,
  'Todd',
  'Gao',
  '1974-02-22',
  'C',
  'M',
  'todd14@gmail.com',
  '(11) 96585-5605',
  80000,
  2,
  'Parcial'),
 (58,
  'Jon',
  'Zhou',
  '1974-03-12',
  'C',
  'M',
  'jon28@hotmail.com',
  '(85) 96675-4865',
  80000,
  2,
  'Parcial'),
 (57,
  'Ashlee',
  'Andersen',
  '1974-03-27',
  'S',
  'F',
  'ashlee19@gmail.com',
  '(85) 97355-1991',
  80000,
  2,
  'Parcial'),
 (56,
  'Marc',
  'Diaz',
  '1974-04-22',
  'C',
  'M',
  'marc6@gmail.com',
  '(41) 92126-6598',
  80000,
  2,
  'Parcial'),
 (75,
  'Leah',
  'Ye',
  '1977-09-14',
  'S',
  'F',
  'leah7@hotmail.com',
  '(31) 95663-3082',
  80000,
  2,
  'Ensino médio'),
 (82,
  'Lucas',
  'Phillips',
  '1977-09-07',
  'S',
  'M',
  'lucas7@outlook.com',
  '(62) 94668-3507',
  80000,
  2,
  'Parcial'),
 (86,
  'Hunter',
  'Davis',
  '1977-11-20',
  'C',
  'M',
  'hunter64@gmail.com',
  '(85) 99032-4591',
  80000,
  2,
  'Pós-graduado'),
 (87,
  'Abigail',
  'Price',
  '1977-01-31',
  'S',
  'F',
  'abigail25@outlook.com',
  '(62) 98956-4719',
  80000,
  2,
  'Pós-graduado'),
 (3,
  'Elizabeth',
  'Johnson',
  '1988-08-03',
  'S',
  'F',
  'elizabeth5@gmail.com',
  '(31) 92039-5832',
  80000,
  5,
  'Pós-graduado'),
 (72,
  'Levi',
  'Arun',
  '1976-08-23',
  'S',
  'M',
  'levi6@gmail.com',
  '(71) 92754-9983',
  70000,
  2,
  'Ensino médio'),
 (71,
  'Amy',
  'Ye',
  '1976-08-09',
  'S',
  'F',
  'amy16@hotmail.com',
  '(41) 92958-3807',
  70000,
  2,
  'Ensino médio'),
 (84,
  'Ryan',
  'Brown',
  '1977-12-18',
  'C',
  'M',
  'ryan43@gmail.com',
  '(85) 92637-3025',
  70000,
  2,
  'Parcial'),
 (85,
  'Tamara',
  'Liang',
  '1977-09-28',
  'C',
  'F',
  'tamara6@gmail.com',
  '(62) 92170-6794',
  70000,
  3,
  'Parcial'),
 (92,
  'Cedric',
  'Ma',
  '1982-03-27',
  'S',
  'M',
  'cedric15@outlook.com',
  '(31) 95423-4764',
  70000,
  1,
  'Parcial'),
 (64,
  'Grace',
  'Butler',
  '1993-11-22',
  'C',
  'F',
  'grace62@gmail.com',
  None,
  70000,
  0,
  'Parcial'),
 (93,
  'Chad',
  'Kumar',
  '1982-08-27',
  'S',
  'M',
  'chad9@gmail.com',
  '(21) 98828-7409',
  70000,
  1,
  'Parcial'),
 (99,
  'Abby',
  'Sai',
  '1985-05-03',
  'S',
  'F',
  'abby4@hotmail.com',
  '(85) 98841-5381',
  70000,
  0,
  'Pós-graduado'),
 (2,
  'Christy',
  'Zhu',
  '1988-02-10',
  'S',
  'F',
  'christy12@hotmail.com',
  '(41) 96270-6086',
  70000,
  0,
  'Pós-graduado'),
 (55,
  'Carl',
  'Andersen',
  '1973-10-07',
  'C',
  'M',
  'carl12@gmail.com',
  '(11) 97180-1463',
  70000,
  2,
  'Graduação'),
 (40,
  'Megan',
  'Sanchez',
  '1997-06-08',
  'C',
  'F',
  'megan28@hotmail.com',
  None,
  70000,
  0,
  'Parcial'),
 (4,
  'Julio',
  'Ruiz',
  '1985-07-31',
  'S',
  'M',
  'julio1@hotmail.com',
  '(62) 93391-5891',
  70000,
  0,
  'Pós-graduado'),
 (5,
  'Janet',
  'Alvarez',
  '1985-12-01',
  'S',
  'F',
  'janet9@gmail.com',
  '(21) 93379-3743',
  70000,
  0,
  'Pós-graduado'),
 (9,
  'Jacquelyn',
  'Suarez',
  '1984-02-01',
  'S',
  'F',
  'jacquelyn20@hotmail.com',
  '(31) 98159-7254',
  70000,
  0,
  'Pós-graduado'),
 (8,
  'Shannon',
  'Carlson',
  '1984-03-27',
  'S',
  'M',
  'shannon38@gmail.com',
  '(85) 96795-9950',
  70000,
  0,
  'Pós-graduado'),
 (63,
  'Jessica',
  'Henderson',
  '1993-10-04',
  'C',
  'F',
  'jessica29@gmail.com',
  '(21) 93673-6903',
  60000,
  0,
  'Parcial'),
 (41,
  'Nathan',
  'Simmons',
  '1996-02-19',
  'C',
  'M',
  'nathan11@hotmail.com',
  '(11) 92589-9135',
  60000,
  0,
  'Parcial'),
 (34,
  'Jennifer',
  'Russell',
  '1998-12-13',
  'C',
  'F',
  'jennifer93@hotmail.com',
  '(21) 96714-5068',
  60000,
  0,
  'Parcial'),
 (65,
  'Caleb',
  'Carter',
  '1996-09-20',
  'S',
  'M',
  'caleb40@gmail.com',
  '(31) 97809-1800',
  60000,
  0,
  'Parcial'),
 (22,
  'Russell',
  'Xie',
  '1998-09-12',
  'C',
  'M',
  'russell7@hotmail.com',
  None,
  60000,
  0,
  'Parcial'),
 (83,
  'Emily',
  'Johnson',
  '1977-07-14',
  'S',
  'F',
  'emily1@gmail.com',
  '(11) 98332-4796',
  60000,
  2,
  'Ensino médio'),
 (10,
  'Curtis',
  'Lu',
  '1983-10-30',
  'C',
  'M',
  'curtis9@outlook.com',
  '(71) 94509-1440',
  60000,
  4,
  'Pós-graduado'),
 (7,
  'Rob',
  'Verhoff',
  '1984-07-02',
  'S',
  'F',
  'rob4@hotmail.com',
  '(11) 98162-4760',
  60000,
  4,
  'Pós-graduado'),
 (6,
  'Marco',
  'Mehta',
  '1984-05-04',
  'C',
  'M',
  'marco14@outlook.com',
  '(85) 99019-3803',
  60000,
  3,
  'Pós-graduado'),
 (94,
  'Andrés',
  'Anand',
  '1982-08-05',
  'C',
  'M',
  'andrés18@gmail.com',
  '(41) 92114-3295',
  60000,
  1,
  'Pós-graduado'),
 (95,
  'Edwin',
  'Nara',
  '1981-10-22',
  'C',
  'M',
  'edwin39@outlook.com',
  '(71) 97194-6478',
  60000,
  1,
  'Parcial'),
 (96,
  'Mallory',
  'Rubio',
  '1981-04-26',
  'S',
  'F',
  'mallory7@hotmail.com',
  '(62) 93152-6617',
  60000,
  1,
  'Parcial'),
 (97,
  'Adam',
  'Ross',
  '1981-03-03',
  'C',
  'M',
  'adam2@hotmail.com',
  '(31) 96502-3482',
  60000,
  1,
  'Pós-graduado'),
 (98,
  'Latasha',
  'Navarro',
  '1980-09-10',
  'S',
  'F',
  'latasha10@outlook.com',
  None,
  60000,
  1,
  'Parcial'),
 (1,
  'Ruben',
  'Torres',
  '1985-08-07',
  'C',
  'M',
  'ruben35@hotmail.com',
  '(85) 94132-1176',
  60000,
  3,
  'Pós-graduado'),
 (51,
  'Ana',
  'Price',
  '2000-08-15',
  'C',
  'F',
  'ana0@outlook.com',
  '(21) 99193-2686',
  60000,
  0,
  'Parcial'),
 (39,
  'Amanda',
  'Carter',
  '1997-10-11',
  'C',
  'F',
  'amanda53@gmail.com',
  '(71) 98283-7962',
  60000,
  0,
  'Parcial'),
 (61,
  'Angela',
  'Murphy',
  '1995-04-02',
  'S',
  'F',
  'angela41@outlook.com',
  None,
  40000,
  0,
  'Ensino médio'),
 (47,
  'Carol',
  'Rai',
  '2000-07-13',
  'S',
  'F',
  'carol8@outlook.com',
  '(11) 94585-9364',
  40000,
  0,
  'Parcial'),
 (50,
  'Heidi',
  'Lopez',
  '1971-08-02',
  'S',
  'F',
  'heidi19@outlook.com',
  '(11) 92303-4933',
  40000,
  2,
  'Parcial'),
 (52,
  'Deanna',
  'Munoz',
  '1972-03-05',
  'C',
  'F',
  'deanna33@outlook.com',
  '(85) 92440-1858',
  40000,
  2,
  'Parcial'),
 (53,
  'Gilbert',
  'Raje',
  '1972-02-29',
  'C',
  'M',
  'gilbert35@outlook.com',
  '(41) 95730-5711',
  40000,
  2,
  'Parcial'),
 (54,
  'Michele',
  'Nath',
  '1973-03-29',
  'C',
  'F',
  'michele19@outlook.com',
  '(62) 98188-6208',
  40000,
  3,
  'Parcial'),
 (18,
  'Jordan',
  'King',
  '1998-09-15',
  'S',
  'M',
  'jordan73@gmail.com',
  '(31) 99592-6279',
  40000,
  0,
  'Ensino médio'),
 (19,
  'Destiny',
  'Wilson',
  '1998-08-29',
  'S',
  'F',
  'destiny7@hotmail.com',
  '(21) 99431-6061',
  40000,
  0,
  'Parcial'),
 (20,
  'Ethan',
  'Zhang',
  '1998-10-07',
  'C',
  'M',
  'ethan20@hotmail.com',
  '(11) 96440-6637',
  40000,
  0,
  'Parcial'),
 (21,
  'Seth',
  'Edwards',
  '1998-10-06',
  'C',
  'M',
  'seth46@gmail.com',
  '(41) 97012-3526',
  40000,
  0,
  'Parcial'),
 (76,
  'Gina',
  'Martin',
  '1994-01-05',
  'S',
  'F',
  'gina1@outlook.com',
  '(21) 96190-3171',
  40000,
  0,
  'Ensino médio'),
 (60,
  'Noah',
  'Powell',
  '1995-08-28',
  'C',
  'M',
  'noah5@outlook.com',
  '(85) 98162-6253',
  40000,
  0,
  'Ensino médio'),
 (62,
  'Chase',
  'Reed',
  '1995-12-02',
  'C',
  'M',
  'chase21@hotmail.com',
  '',
  40000,
  0,
  'Ensino médio'),
 (35,
  'Chloe',
  'Garcia',
  '1997-11-22',
  'S',
  'F',
  'chloe27@gmail.com',
  '(21) 94134-4552',
  40000,
  0,
  'Parcial'),
 (25,
  'Jessie',
  'Zhao',
  '1966-12-02',
  'C',
  'M',
  'jessie16@hotmail.com',
  '(41) 98751-8234',
  30000,
  2,
  'Parcial'),
 (43,
  'Leonard',
  'Nara',
  '1970-05-14',
  'S',
  'M',
  'leonard18@outlook.com',
  '(31) 93245-4616',
  30000,
  3,
  'Ensino médio'),
 (44,
  'Christine',
  'Yuan',
  '1970-03-17',
  'C',
  'F',
  'christine4@hotmail.com',
  '(31) 95294-4775',
  30000,
  3,
  'Ensino médio'),
 (45,
  'Jaclyn',
  'Lu',
  '1970-02-22',
  'C',
  'F',
  'jaclyn12@outlook.com',
  '(21) 95966-1607',
  30000,
  3,
  'Ensino médio'),
 (46,
  'Jeremy',
  'Powell',
  '1970-11-17',
  'C',
  'M',
  'jeremy26@outlook.com',
  '(11) 96739-1309',
  30000,
  3,
  'Ensino médio'),
 (48,
  'Alan',
  'Zheng',
  '1971-09-02',
  'C',
  'M',
  'alan23@hotmail.com',
  '(62) 96866-5250',
  30000,
  3,
  'Ensino médio'),
 (49,
  'Daniel',
  'Johnson',
  '1971-07-30',
  'S',
  'M',
  'daniel18@gmail.com',
  '(31) 98422-3549',
  30000,
  3,
  'Ensino médio'),
 (37,
  'Marc',
  'Martin',
  '1968-12-12',
  'C',
  'M',
  'marc3@outlook.com',
  '(11) 92792-7732',
  30000,
  3,
  'Parcial'),
 (14,
  'Chloe',
  'Young',
  '1999-02-22',
  'S',
  'F',
  'chloe23@hotmail.com',
  '(71) 96890-7150',
  30000,
  0,
  'Parcial'),
 (15,
  'Wyatt',
  'Hill',
  '1999-04-23',
  'C',
  'M',
  'wyatt32@gmail.com',
  '(71) 98644-2695',
  30000,
  0,
  'Parcial'),
 (17,
  'Clarence',
  'Rai',
  '1964-10-04',
  'S',
  'M',
  'clarence32@outlook.com',
  '(21) 98923-7805',
  30000,
  2,
  'Parcial'),
 (38,
  'Jesse',
  'Murphy',
  '1997-07-27',
  'C',
  'M',
  'jesse15@outlook.com',
  '(62) 99674-9226',
  30000,
  0,
  'Parcial'),
 (27,
  'Jimmy',
  'Moreno',
  '1966-12-16',
  'C',
  'M',
  'jimmy9@outlook.com',
  '(85) 92931-9277',
  30000,
  2,
  'Parcial'),
 (24,
  'Harold',
  'Sai',
  '1966-03-29',
  'S',
  'M',
  'harold3@hotmail.com',
  '(31) 95052-6286',
  30000,
  2,
  'Parcial'),
 (26,
  'Jill',
  'Jimenez',
  '1966-04-06',
  'C',
  'F',
  'jill13@gmail.com',
  '(41) 97120-5603',
  30000,
  2,
  'Parcial'),
 (16,
  'Shannon',
  'Wang',
  '1964-06-21',
  'S',
  'F',
  'shannon1@hotmail.com',
  '(71) 94496-1712',
  20000,
  4,
  'Ensino médio'),
 (32,
  'Ebony',
  'Gonzalez',
  '1967-06-14',
  'C',
  'F',
  'ebony19@gmail.com',
  '(71) 99664-2156',
  20000,
  4,
  'Ensino médio'),
 (31,
  'Jaime',
  'Nath',
  '1967-09-18',
  'C',
  'M',
  'jaime41@outlook.com',
  '(21) 96759-5499',
  20000,
  4,
  'Ensino médio'),
 (30,
  'Denise',
  'Stone',
  '1967-06-06',
  'C',
  'F',
  'denise10@hotmail.com',
  '(62) 94170-5754',
  20000,
  4,
  'Ensino médio'),
 (29,
  'Theresa',
  'Ramos',
  '1967-08-17',
  'C',
  'F',
  'theresa13@hotmail.com',
  '(71) 92187-3667',
  20000,
  4,
  'Ensino médio'),
 (42,
  'Adam',
  'Flores',
  '1969-05-19',
  'C',
  'M',
  'adam10@gmail.com',
  '(31) 95449-1170',
  20000,
  2,
  'Parcial'),
 (33,
  'Wendy',
  'Dominguez',
  '1968-02-19',
  'C',
  'F',
  'wendy12@gmail.com',
  '(31) 97278-7135',
  10000,
  2,
  'Parcial'),
 (36,
  'Diana',
  'Hernandez',
  '1968-03-18',
  'C',
  'F',
  'diana2@gmail.com',
  '(85) 93094-3166',
  10000,
  2,
  'Parcial'),
 (28,
  'Bethany',
  'Yuan',
  '1967-02-17',
  'C',
  'F',
  'bethany10@hotmail.com',
  '(62) 92998-6359',
  10000,
  2,
  'Parcial'),
 (23,
  'Alejandro',
  'Beck',
  '1965-12-18',
  'C',
  'M',
  'alejandro45@gmail.com',
  '(85) 94492-9582',
  10000,
  2,
  'Parcial')]

In [21]:


dfdes = pd.read_sql(query, conexao)
print('Decrescente dados  da renda anual dos bancos de dados de clientes')
# Exiba o DataFrame
display(dfdes)

Decrescente dados  da renda anual dos bancos de dados de clientes

/tmp/ipykernel_8614/1865137445.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dfdes = pd.read_sql(query, conexao)

,ID_Cliente,Nome,Sobrenome,Data_Nascimento,Estado_Civil,Sexo,Email,Telefone,Renda_Anual,Qtd_Filhos,Escolaridade
0,78,Damien,Chander,1979-07-12,C,M,damien32@gmail.com,(11) 97494-2293,170000,0,Graduação
1,77,Donald,Gonzalez,1979-03-06,S,M,donald20@gmail.com,(31) 96897-9735,160000,0,Graduação
2,80,Angela,Butler,1986-07-30,S,F,angela17@gmail.com,(31) 99100-6309,130000,0,Graduação
3,81,Alyssa,Cox,1986-03-10,C,F,alyssa37@gmail.com,(11) 94546-6962,130000,0,Graduação
4,79,Savannah,Baker,1986-07-19,C,F,savannah39@gmail.com,(11) 98574-8482,120000,2,Pós-graduado
...,...,...,...,...,...,...,...,...,...,...,...
95,42,Adam,Flores,1969-05-19,C,M,adam10@gmail.com,(31) 95449-1170,20000,2,Parcial
96,33,Wendy,Dominguez,1968-02-19,C,F,wendy12@gmail.com,(31) 97278-7135,10000,2,Parcial
97,36,Diana,Hernandez,1968-03-18,C,F,diana2@gmail.com,(85) 93094-3166,10000,2,Parcial
98,28,Bethany,Yuan,1967-02-17,C,F,bethany10@hotmail.com,(62) 92998-6359,10000,2,Parcial
99,23,Alejandro,Beck,1965-12-18,C,M,alejandro45@gmail.com,(85) 94492-9582,10000,2,Parcial

In [22]:
query = "SELECT * FROM clientes ORDER BY Qtd_Filhos DESC;"
#cursor.execute(query)

cursor.execute(query)

des= cursor.fetchall()

display(des)

[(100,
  'Julia',
  'Nelson',
  '1985-04-16',
  'S',
  'F',
  'julia7@outlook.com',
  '(41) 96066-9929',
  80000,
  5,
  'Pós-graduado'),
 (3,
  'Elizabeth',
  'Johnson',
  '1988-08-03',
  'S',
  'F',
  'elizabeth5@gmail.com',
  '(31) 92039-5832',
  80000,
  5,
  'Pós-graduado'),
 (10,
  'Curtis',
  'Lu',
  '1983-10-30',
  'C',
  'M',
  'curtis9@outlook.com',
  '(71) 94509-1440',
  60000,
  4,
  'Pós-graduado'),
 (29,
  'Theresa',
  'Ramos',
  '1967-08-17',
  'C',
  'F',
  'theresa13@hotmail.com',
  '(71) 92187-3667',
  20000,
  4,
  'Ensino médio'),
 (16,
  'Shannon',
  'Wang',
  '1964-06-21',
  'S',
  'F',
  'shannon1@hotmail.com',
  '(71) 94496-1712',
  20000,
  4,
  'Ensino médio'),
 (30,
  'Denise',
  'Stone',
  '1967-06-06',
  'C',
  'F',
  'denise10@hotmail.com',
  '(62) 94170-5754',
  20000,
  4,
  'Ensino médio'),
 (31,
  'Jaime',
  'Nath',
  '1967-09-18',
  'C',
  'M',
  'jaime41@outlook.com',
  '(21) 96759-5499',
  20000,
  4,
  'Ensino médio'),
 (32,
  'Ebony',
  'Gonzalez',
  '1967-06-14',
  'C',
  'F',
  'ebony19@gmail.com',
  '(71) 99664-2156',
  20000,
  4,
  'Ensino médio'),
 (7,
  'Rob',
  'Verhoff',
  '1984-07-02',
  'S',
  'F',
  'rob4@hotmail.com',
  '(11) 98162-4760',
  60000,
  4,
  'Pós-graduado'),
 (46,
  'Jeremy',
  'Powell',
  '1970-11-17',
  'C',
  'M',
  'jeremy26@outlook.com',
  '(11) 96739-1309',
  30000,
  3,
  'Ensino médio'),
 (43,
  'Leonard',
  'Nara',
  '1970-05-14',
  'S',
  'M',
  'leonard18@outlook.com',
  '(31) 93245-4616',
  30000,
  3,
  'Ensino médio'),
 (48,
  'Alan',
  'Zheng',
  '1971-09-02',
  'C',
  'M',
  'alan23@hotmail.com',
  '(62) 96866-5250',
  30000,
  3,
  'Ensino médio'),
 (49,
  'Daniel',
  'Johnson',
  '1971-07-30',
  'S',
  'M',
  'daniel18@gmail.com',
  '(31) 98422-3549',
  30000,
  3,
  'Ensino médio'),
 (37,
  'Marc',
  'Martin',
  '1968-12-12',
  'C',
  'M',
  'marc3@outlook.com',
  '(11) 92792-7732',
  30000,
  3,
  'Parcial'),
 (45,
  'Jaclyn',
  'Lu',
  '1970-02-22',
  'C',
  'F',
  'jaclyn12@outlook.com',
  '(21) 95966-1607',
  30000,
  3,
  'Ensino médio'),
 (85,
  'Tamara',
  'Liang',
  '1977-09-28',
  'C',
  'F',
  'tamara6@gmail.com',
  '(62) 92170-6794',
  70000,
  3,
  'Parcial'),
 (44,
  'Christine',
  'Yuan',
  '1970-03-17',
  'C',
  'F',
  'christine4@hotmail.com',
  '(31) 95294-4775',
  30000,
  3,
  'Ensino médio'),
 (1,
  'Ruben',
  'Torres',
  '1985-08-07',
  'C',
  'M',
  'ruben35@hotmail.com',
  '(85) 94132-1176',
  60000,
  3,
  'Pós-graduado'),
 (54,
  'Michele',
  'Nath',
  '1973-03-29',
  'C',
  'F',
  'michele19@outlook.com',
  '(62) 98188-6208',
  40000,
  3,
  'Parcial'),
 (6,
  'Marco',
  'Mehta',
  '1984-05-04',
  'C',
  'M',
  'marco14@outlook.com',
  '(85) 99019-3803',
  60000,
  3,
  'Pós-graduado'),
 (13,
  'Sydney',
  'Bennett',
  '1988-05-04',
  'S',
  'F',
  'sydney23@gmail.com',
  '(11) 92024-9186',
  100000,
  3,
  'Pós-graduado'),
 (68,
  'Willie',
  'Raji',
  '1975-03-31',
  'C',
  'M',
  'willie40@outlook.com',
  '(71) 97614-1995',
  80000,
  2,
  'Ensino médio'),
 (75,
  'Leah',
  'Ye',
  '1977-09-14',
  'S',
  'F',
  'leah7@hotmail.com',
  '(31) 95663-3082',
  80000,
  2,
  'Ensino médio'),
 (74,
  'Blake',
  'Anderson',
  '1977-07-08',
  'S',
  'M',
  'blake9@gmail.com',
  '(11) 98232-2736',
  80000,
  2,
  'Ensino médio'),
 (73,
  'Felicia',
  'Jimenez',
  '1977-11-11',
  'S',
  'F',
  'felicia4@gmail.com',
  '(85) 95647-1806',
  80000,
  2,
  'Ensino médio'),
 (72,
  'Levi',
  'Arun',
  '1976-08-23',
  'S',
  'M',
  'levi6@gmail.com',
  '(71) 92754-9983',
  70000,
  2,
  'Ensino médio'),
 (71,
  'Amy',
  'Ye',
  '1976-08-09',
  'S',
  'F',
  'amy16@hotmail.com',
  '(41) 92958-3807',
  70000,
  2,
  'Ensino médio'),
 (82,
  'Lucas',
  'Phillips',
  '1977-09-07',
  'S',
  'M',
  'lucas7@outlook.com',
  '(62) 94668-3507',
  80000,
  2,
  'Parcial'),
 (70,
  'Casey',
  'Luo',
  '1975-02-01',
  'S',
  'F',
  'casey6@outlook.com',
  '(31) 96609-9916',
  80000,
  2,
  'Ensino médio'),
 (69,
  'Linda',
  'Serrano',
  '1975-06-21',
  'S',
  'F',
  'linda31@hotmail.com',
  '(21) 92428-2938',
  80000,
  2,
  'Ensino médio'),
 (58,
  'Jon',
  'Zhou',
  '1974-03-12',
  'C',
  'M',
  'jon28@hotmail.com',
  '(85) 96675-4865',
  80000,
  2,
  'Parcial'),
 (67,
  'Carolyn',
  'Navarro',
  '1975-09-16',
  'S',
  'F',
  'carolyn30@outlook.com',
  '(21) 94139-6777',
  80000,
  2,
  'Ensino médio'),
 (66,
  'Tiffany',
  'Liang',
  '1975-09-18',
  'S',
  'F',
  'tiffany17@gmail.com',
  '(21) 97231-3503',
  80000,
  2,
  'Ensino médio'),
 (50,
  'Heidi',
  'Lopez',
  '1971-08-02',
  'S',
  'F',
  'heidi19@outlook.com',
  '(11) 92303-4933',
  40000,
  2,
  'Parcial'),
 (79,
  'Savannah',
  'Baker',
  '1986-07-19',
  'C',
  'F',
  'savannah39@gmail.com',
  '(11) 98574-8482',
  120000,
  2,
  'Pós-graduado'),
 (52,
  'Deanna',
  'Munoz',
  '1972-03-05',
  'C',
  'F',
  'deanna33@outlook.com',
  '(85) 92440-1858',
  40000,
  2,
  'Parcial'),
 (53,
  'Gilbert',
  'Raje',
  '1972-02-29',
  'C',
  'M',
  'gilbert35@outlook.com',
  '(41) 95730-5711',
  40000,
  2,
  'Parcial'),
 (59,
  'Todd',
  'Gao',
  '1974-02-22',
  'C',
  'M',
  'todd14@gmail.com',
  '(11) 96585-5605',
  80000,
  2,
  'Parcial'),
 (55,
  'Carl',
  'Andersen',
  '1973-10-07',
  'C',
  'M',
  'carl12@gmail.com',
  '(11) 97180-1463',
  70000,
  2,
  'Graduação'),
 (56,
  'Marc',
  'Diaz',
  '1974-04-22',
  'C',
  'M',
  'marc6@gmail.com',
  '(41) 92126-6598',
  80000,
  2,
  'Parcial'),
 (57,
  'Ashlee',
  'Andersen',
  '1974-03-27',
  'S',
  'F',
  'ashlee19@gmail.com',
  '(85) 97355-1991',
  80000,
  2,
  'Parcial'),
 (24,
  'Harold',
  'Sai',
  '1966-03-29',
  'S',
  'M',
  'harold3@hotmail.com',
  '(31) 95052-6286',
  30000,
  2,
  'Parcial'),
 (17,
  'Clarence',
  'Rai',
  '1964-10-04',
  'S',
  'M',
  'clarence32@outlook.com',
  '(21) 98923-7805',
  30000,
  2,
  'Parcial'),
 (12,
  'Ian',
  'Jenkins',
  '1988-08-01',
  'C',
  'M',
  'ian47@gmail.com',
  '(21) 95385-3393',
  100000,
  2,
  'Pós-graduado'),
 (11,
  'Lauren',
  'Walker',
  '1988-01-13',
  'C',
  'F',
  'lauren41@hotmail.com',
  '(21) 93994-2382',
  100000,
  2,
  'Pós-graduado'),
 (42,
  'Adam',
  'Flores',
  '1969-05-19',
  'C',
  'M',
  'adam10@gmail.com',
  '(31) 95449-1170',
  20000,
  2,
  'Parcial'),
 (90,
  'Cheryl',
  'Diaz',
  '1987-05-01',
  'C',
  'F',
  'cheryl4@gmail.com',
  '(71) 93757-3370',
  90000,
  2,
  'Pós-graduado'),
 (89,
  'Dalton',
  'Perez',
  '1977-03-30',
  'C',
  'M',
  'dalton37@outlook.com',
  '(21) 98302-8969',
  90000,
  2,
  'Parcial'),
 (23,
  'Alejandro',
  'Beck',
  '1965-12-18',
  'C',
  'M',
  'alejandro45@gmail.com',
  '(85) 94492-9582',
  10000,
  2,
  'Parcial'),
 (25,
  'Jessie',
  'Zhao',
  '1966-12-02',
  'C',
  'M',
  'jessie16@hotmail.com',
  '(41) 98751-8234',
  30000,
  2,
  'Parcial'),
 (26,
  'Jill',
  'Jimenez',
  '1966-04-06',
  'C',
  'F',
  'jill13@gmail.com',
  '(41) 97120-5603',
  30000,
  2,
  'Parcial'),
 (27,
  'Jimmy',
  'Moreno',
  '1966-12-16',
  'C',
  'M',
  'jimmy9@outlook.com',
  '(85) 92931-9277',
  30000,
  2,
  'Parcial'),
 (28,
  'Bethany',
  'Yuan',
  '1967-02-17',
  'C',
  'F',
  'bethany10@hotmail.com',
  '(62) 92998-6359',
  10000,
  2,
  'Parcial'),
 (33,
  'Wendy',
  'Dominguez',
  '1968-02-19',
  'C',
  'F',
  'wendy12@gmail.com',
  '(31) 97278-7135',
  10000,
  2,
  'Parcial'),
 (88,
  'Trevor',
  'Bryant',
  '1977-12-12',
  'S',
  'M',
  'trevor18@gmail.com',
  None,
  90000,
  2,
  'Parcial'),
 (87,
  'Abigail',
  'Price',
  '1977-01-31',
  'S',
  'F',
  'abigail25@outlook.com',
  '(62) 98956-4719',
  80000,
  2,
  'Pós-graduado'),
 (36,
  'Diana',
  'Hernandez',
  '1968-03-18',
  'C',
  'F',
  'diana2@gmail.com',
  '(85) 93094-3166',
  10000,
  2,
  'Parcial'),
 (86,
  'Hunter',
  'Davis',
  '1977-11-20',
  'C',
  'M',
  'hunter64@gmail.com',
  '(85) 99032-4591',
  80000,
  2,
  'Pós-graduado'),
 (84,
  'Ryan',
  'Brown',
  '1977-12-18',
  'C',
  'M',
  'ryan43@gmail.com',
  '(85) 92637-3025',
  70000,
  2,
  'Parcial'),
 (83,
  'Emily',
  'Johnson',
  '1977-07-14',
  'S',
  'F',
  'emily1@gmail.com',
  '(11) 98332-4796',
  60000,
  2,
  'Ensino médio'),
 (92,
  'Cedric',
  'Ma',
  '1982-03-27',
  'S',
  'M',
  'cedric15@outlook.com',
  '(31) 95423-4764',
  70000,
  1,
  'Parcial'),
 (98,
  'Latasha',
  'Navarro',
  '1980-09-10',
  'S',
  'F',
  'latasha10@outlook.com',
  None,
  60000,
  1,
  'Parcial'),
 (97,
  'Adam',
  'Ross',
  '1981-03-03',
  'C',
  'M',
  'adam2@hotmail.com',
  '(31) 96502-3482',
  60000,
  1,
  'Pós-graduado'),
 (96,
  'Mallory',
  'Rubio',
  '1981-04-26',
  'S',
  'F',
  'mallory7@hotmail.com',
  '(62) 93152-6617',
  60000,
  1,
  'Parcial'),
 (95,
  'Edwin',
  'Nara',
  '1981-10-22',
  'C',
  'M',
  'edwin39@outlook.com',
  '(71) 97194-6478',
  60000,
  1,
  'Parcial'),
 (94,
  'Andrés',
  'Anand',
  '1982-08-05',
  'C',
  'M',
  'andrés18@gmail.com',
  '(41) 92114-3295',
  60000,
  1,
  'Pós-graduado'),
 (93,
  'Chad',
  'Kumar',
  '1982-08-27',
  'S',
  'M',
  'chad9@gmail.com',
  '(21) 98828-7409',
  70000,
  1,
  'Parcial'),
 (76,
  'Gina',
  'Martin',
  '1994-01-05',
  'S',
  'F',
  'gina1@outlook.com',
  '(21) 96190-3171',
  40000,
  0,
  'Ensino médio'),
 (77,
  'Donald',
  'Gonzalez',
  '1979-03-06',
  'S',
  'M',
  'donald20@gmail.com',
  '(31) 96897-9735',
  160000,
  0,
  'Graduação'),
 (78,
  'Damien',
  'Chander',
  '1979-07-12',
  'C',
  'M',
  'damien32@gmail.com',
  '(11) 97494-2293',
  170000,
  0,
  'Graduação'),
 (80,
  'Angela',
  'Butler',
  '1986-07-30',
  'S',
  'F',
  'angela17@gmail.com',
  '(31) 99100-6309',
  130000,
  0,
  'Graduação'),
 (81,
  'Alyssa',
  'Cox',
  '1986-03-10',
  'C',
  'F',
  'alyssa37@gmail.com',
  '(11) 94546-6962',
  130000,
  0,
  'Graduação'),
 (91,
  'Aimee',
  'He',
  '1987-09-05',
  'C',
  'F',
  'aimee13@gmail.com',
  '(71) 94329-9879',
  100000,
  0,
  'Graduação'),
 (99,
  'Abby',
  'Sai',
  '1985-05-03',
  'S',
  'F',
  'abby4@hotmail.com',
  '(85) 98841-5381',
  70000,
  0,
  'Pós-graduado'),
 (51,
  'Ana',
  'Price',
  '2000-08-15',
  'C',
  'F',
  'ana0@outlook.com',
  '(21) 99193-2686',
  60000,
  0,
  'Parcial'),
 (34,
  'Jennifer',
  'Russell',
  '1998-12-13',
  'C',
  'F',
  'jennifer93@hotmail.com',
  '(21) 96714-5068',
  60000,
  0,
  'Parcial'),
 (2,
  'Christy',
  'Zhu',
  '1988-02-10',
  'S',
  'F',
  'christy12@hotmail.com',
  '(41) 96270-6086',
  70000,
  0,
  'Pós-graduado'),
 (4,
  'Julio',
  'Ruiz',
  '1985-07-31',
  'S',
  'M',
  'julio1@hotmail.com',
  '(62) 93391-5891',
  70000,
  0,
  'Pós-graduado'),
 (5,
  'Janet',
  'Alvarez',
  '1985-12-01',
  'S',
  'F',
  'janet9@gmail.com',
  '(21) 93379-3743',
  70000,
  0,
  'Pós-graduado'),
 (8,
  'Shannon',
  'Carlson',
  '1984-03-27',
  'S',
  'M',
  'shannon38@gmail.com',
  '(85) 96795-9950',
  70000,
  0,
  'Pós-graduado'),
 (9,
  'Jacquelyn',
  'Suarez',
  '1984-02-01',
  'S',
  'F',
  'jacquelyn20@hotmail.com',
  '(31) 98159-7254',
  70000,
  0,
  'Pós-graduado'),
 (14,
  'Chloe',
  'Young',
  '1999-02-22',
  'S',
  'F',
  'chloe23@hotmail.com',
  '(71) 96890-7150',
  30000,
  0,
  'Parcial'),
 (15,
  'Wyatt',
  'Hill',
  '1999-04-23',
  'C',
  'M',
  'wyatt32@gmail.com',
  '(71) 98644-2695',
  30000,
  0,
  'Parcial'),
 (18,
  'Jordan',
  'King',
  '1998-09-15',
  'S',
  'M',
  'jordan73@gmail.com',
  '(31) 99592-6279',
  40000,
  0,
  'Ensino médio'),
 (19,
  'Destiny',
  'Wilson',
  '1998-08-29',
  'S',
  'F',
  'destiny7@hotmail.com',
  '(21) 99431-6061',
  40000,
  0,
  'Parcial'),
 (20,
  'Ethan',
  'Zhang',
  '1998-10-07',
  'C',
  'M',
  'ethan20@hotmail.com',
  '(11) 96440-6637',
  40000,
  0,
  'Parcial'),
 (21,
  'Seth',
  'Edwards',
  '1998-10-06',
  'C',
  'M',
  'seth46@gmail.com',
  '(41) 97012-3526',
  40000,
  0,
  'Parcial'),
 (22,
  'Russell',
  'Xie',
  '1998-09-12',
  'C',
  'M',
  'russell7@hotmail.com',
  None,
  60000,
  0,
  'Parcial'),
 (65,
  'Caleb',
  'Carter',
  '1996-09-20',
  'S',
  'M',
  'caleb40@gmail.com',
  '(31) 97809-1800',
  60000,
  0,
  'Parcial'),
 (35,
  'Chloe',
  'Garcia',
  '1997-11-22',
  'S',
  'F',
  'chloe27@gmail.com',
  '(21) 94134-4552',
  40000,
  0,
  'Parcial'),
 (38,
  'Jesse',
  'Murphy',
  '1997-07-27',
  'C',
  'M',
  'jesse15@outlook.com',
  '(62) 99674-9226',
  30000,
  0,
  'Parcial'),
 (39,
  'Amanda',
  'Carter',
  '1997-10-11',
  'C',
  'F',
  'amanda53@gmail.com',
  '(71) 98283-7962',
  60000,
  0,
  'Parcial'),
 (40,
  'Megan',
  'Sanchez',
  '1997-06-08',
  'C',
  'F',
  'megan28@hotmail.com',
  None,
  70000,
  0,
  'Parcial'),
 (41,
  'Nathan',
  'Simmons',
  '1996-02-19',
  'C',
  'M',
  'nathan11@hotmail.com',
  '(11) 92589-9135',
  60000,
  0,
  'Parcial'),
 (47,
  'Carol',
  'Rai',
  '2000-07-13',
  'S',
  'F',
  'carol8@outlook.com',
  '(11) 94585-9364',
  40000,
  0,
  'Parcial'),
 (60,
  'Noah',
  'Powell',
  '1995-08-28',
  'C',
  'M',
  'noah5@outlook.com',
  '(85) 98162-6253',
  40000,
  0,
  'Ensino médio'),
 (61,
  'Angela',
  'Murphy',
  '1995-04-02',
  'S',
  'F',
  'angela41@outlook.com',
  None,
  40000,
  0,
  'Ensino médio'),
 (62,
  'Chase',
  'Reed',
  '1995-12-02',
  'C',
  'M',
  'chase21@hotmail.com',
  '',
  40000,
  0,
  'Ensino médio'),
 (63,
  'Jessica',
  'Henderson',
  '1993-10-04',
  'C',
  'F',
  'jessica29@gmail.com',
  '(21) 93673-6903',
  60000,
  0,
  'Parcial'),
 (64,
  'Grace',
  'Butler',
  '1993-11-22',
  'C',
  'F',
  'grace62@gmail.com',
  None,
  70000,
  0,
  'Parcial')]

In [23]:

dfdes = pd.read_sql(query, conexao)
print('Decrescente dados de quantidades de filhos dos bancos de dados de clientes')
# Exiba o DataFrame
display(dfdes)

Decrescente dados de quantidades de filhos dos bancos de dados de clientes

/tmp/ipykernel_8614/3983087713.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dfdes = pd.read_sql(query, conexao)

,ID_Cliente,Nome,Sobrenome,Data_Nascimento,Estado_Civil,Sexo,Email,Telefone,Renda_Anual,Qtd_Filhos,Escolaridade
0,100,Julia,Nelson,1985-04-16,S,F,julia7@outlook.com,(41) 96066-9929,80000,5,Pós-graduado
1,3,Elizabeth,Johnson,1988-08-03,S,F,elizabeth5@gmail.com,(31) 92039-5832,80000,5,Pós-graduado
2,10,Curtis,Lu,1983-10-30,C,M,curtis9@outlook.com,(71) 94509-1440,60000,4,Pós-graduado
3,29,Theresa,Ramos,1967-08-17,C,F,theresa13@hotmail.com,(71) 92187-3667,20000,4,Ensino médio
4,16,Shannon,Wang,1964-06-21,S,F,shannon1@hotmail.com,(71) 94496-1712,20000,4,Ensino médio
...,...,...,...,...,...,...,...,...,...,...,...
95,60,Noah,Powell,1995-08-28,C,M,noah5@outlook.com,(85) 98162-6253,40000,0,Ensino médio
96,61,Angela,Murphy,1995-04-02,S,F,angela41@outlook.com,None,40000,0,Ensino médio
97,62,Chase,Reed,1995-12-02,C,M,chase21@hotmail.com,,40000,0,Ensino médio
98,63,Jessica,Henderson,1993-10-04,C,F,jessica29@gmail.com,(21) 93673-6903,60000,0,Parcial
99,64,Grace,Butler,1993-11-22,C,F,grace62@gmail.com,None,70000,0,Parcial

In [ ]:
# dados pelo SQL com renda acima dos 20000

In [26]:
query = "SELECT * FROM clientes WHERE Renda_Anual >= 20000;"

dfpreco = pd.read_sql(query, conexao)

# Exiba o DataFrame
print('Renda acima de 20000 reis')

display(dfpreco)

Renda acima de 20000 reis

/tmp/ipykernel_8614/71271482.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dfpreco = pd.read_sql(query, conexao)

,ID_Cliente,Nome,Sobrenome,Data_Nascimento,Estado_Civil,Sexo,Email,Telefone,Renda_Anual,Qtd_Filhos,Escolaridade
0,1,Ruben,Torres,1985-08-07,C,M,ruben35@hotmail.com,(85) 94132-1176,60000,3,Pós-graduado
1,2,Christy,Zhu,1988-02-10,S,F,christy12@hotmail.com,(41) 96270-6086,70000,0,Pós-graduado
2,3,Elizabeth,Johnson,1988-08-03,S,F,elizabeth5@gmail.com,(31) 92039-5832,80000,5,Pós-graduado
3,4,Julio,Ruiz,1985-07-31,S,M,julio1@hotmail.com,(62) 93391-5891,70000,0,Pós-graduado
4,5,Janet,Alvarez,1985-12-01,S,F,janet9@gmail.com,(21) 93379-3743,70000,0,Pós-graduado
...,...,...,...,...,...,...,...,...,...,...,...
91,96,Mallory,Rubio,1981-04-26,S,F,mallory7@hotmail.com,(62) 93152-6617,60000,1,Parcial
92,97,Adam,Ross,1981-03-03,C,M,adam2@hotmail.com,(31) 96502-3482,60000,1,Pós-graduado
93,98,Latasha,Navarro,1980-09-10,S,F,latasha10@outlook.com,None,60000,1,Parcial
94,99,Abby,Sai,1985-05-03,S,F,abby4@hotmail.com,(85) 98841-5381,70000,0,Pós-graduado
95,100,Julia,Nelson,1985-04-16,S,F,julia7@outlook.com,(41) 96066-9929,80000,5,Pós-graduado

In [29]:
#  Criando Filtros no SQL com o Comando WHERE - Curso de SQL - Aula 3 
print('renda igual aos R$70000')
query = "SELECT * FROM clientes WHERE Renda_Anual = 70000;"
dfpreco2 = pd.read_sql(query, conexao)

# Exiba o DataFrame
display(dfpreco2)

renda igual aos R$70000

/tmp/ipykernel_8614/3214286703.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dfpreco2 = pd.read_sql(query, conexao)

,ID_Cliente,Nome,Sobrenome,Data_Nascimento,Estado_Civil,Sexo,Email,Telefone,Renda_Anual,Qtd_Filhos,Escolaridade
0,2,Christy,Zhu,1988-02-10,S,F,christy12@hotmail.com,(41) 96270-6086,70000,0,Pós-graduado
1,4,Julio,Ruiz,1985-07-31,S,M,julio1@hotmail.com,(62) 93391-5891,70000,0,Pós-graduado
2,5,Janet,Alvarez,1985-12-01,S,F,janet9@gmail.com,(21) 93379-3743,70000,0,Pós-graduado
3,8,Shannon,Carlson,1984-03-27,S,M,shannon38@gmail.com,(85) 96795-9950,70000,0,Pós-graduado
4,9,Jacquelyn,Suarez,1984-02-01,S,F,jacquelyn20@hotmail.com,(31) 98159-7254,70000,0,Pós-graduado
5,40,Megan,Sanchez,1997-06-08,C,F,megan28@hotmail.com,None,70000,0,Parcial
6,55,Carl,Andersen,1973-10-07,C,M,carl12@gmail.com,(11) 97180-1463,70000,2,Graduação
7,64,Grace,Butler,1993-11-22,C,F,grace62@gmail.com,None,70000,0,Parcial
8,71,Amy,Ye,1976-08-09,S,F,amy16@hotmail.com,(41) 92958-3807,70000,2,Ensino médio
9,72,Levi,Arun,1976-08-23,S,M,levi6@gmail.com,(71) 92754-9983,70000,2,Ensino médio
10,84,Ryan,Brown,1977-12-18,C,M,ryan43@gmail.com,(85) 92637-3025,70000,2,Parcial
11,85,Tamara,Liang,1977-09-28,C,F,tamara6@gmail.com,(62) 92170-6794,70000,3,Parcial
12,92,Cedric,Ma,1982-03-27,S,M,cedric15@outlook.com,(31) 95423-4764,70000,1,Parcial
13,93,Chad,Kumar,1982-08-27,S,M,chad9@gmail.com,(21) 98828-7409,70000,1,Parcial
14,99,Abby,Sai,1985-05-03,S,F,abby4@hotmail.com,(85) 98841-5381,70000,0,Pós-graduado

In [30]:
print('cliente em texto ou nome , da Janet')


query = "SELECT * FROM clientes WHERE Nome = 'Janet';"
dfpreco3 = pd.read_sql(query, conexao)

# Exiba o DataFrame
display(dfpreco3)

cliente em texto ou nome , da Janet

/tmp/ipykernel_8614/76032101.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dfpreco3 = pd.read_sql(query, conexao)

,ID_Cliente,Nome,Sobrenome,Data_Nascimento,Estado_Civil,Sexo,Email,Telefone,Renda_Anual,Qtd_Filhos,Escolaridade
0,5,Janet,Alvarez,1985-12-01,S,F,janet9@gmail.com,(21) 93379-3743,70000,0,Pós-graduado

In [32]:
query = "SELECT * FROM clientes WHERE Sobrenome = 'Alvarez' OR Sobrenome = 'Brown';"
dfname3 = pd.read_sql(query, conexao)
print('sobrenomes Alvares ou Brown')
# Exiba o DataFrame
display(dfname3)

sobrenomes Alvares ou Brown

/tmp/ipykernel_8614/4092345128.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dfname3 = pd.read_sql(query, conexao)

,ID_Cliente,Nome,Sobrenome,Data_Nascimento,Estado_Civil,Sexo,Email,Telefone,Renda_Anual,Qtd_Filhos,Escolaridade
0,5,Janet,Alvarez,1985-12-01,S,F,janet9@gmail.com,(21) 93379-3743,70000,0,Pós-graduado
1,84,Ryan,Brown,1977-12-18,C,M,ryan43@gmail.com,(85) 92637-3025,70000,2,Parcial

In [34]:
print('filtrando no mysql')
query = "SELECT ID_Cliente, Sobrenome, Email, Renda_Anual, Telefone FROM clientes;"
dfprod = pd.read_sql(query, conexao)

# Exiba o DataFrame
display(dfprod)

filtrando no mysql

/tmp/ipykernel_8614/2840187453.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dfprod = pd.read_sql(query, conexao)

    ID_Cliente Sobrenome                  Email  Renda_Anual         Telefone
0            1    Torres    ruben35@hotmail.com        60000  (85) 94132-1176
1            2       Zhu  christy12@hotmail.com        70000  (41) 96270-6086
2            3   Johnson   elizabeth5@gmail.com        80000  (31) 92039-5832
3            4      Ruiz     julio1@hotmail.com        70000  (62) 93391-5891
4            5   Alvarez       janet9@gmail.com        70000  (21) 93379-3743
..         ...       ...                    ...          ...              ...
95          96     Rubio   mallory7@hotmail.com        60000  (62) 93152-6617
96          97      Ross      adam2@hotmail.com        60000  (31) 96502-3482
97          98   Navarro  latasha10@outlook.com        60000             None
98          99       Sai      abby4@hotmail.com        70000  (85) 98841-5381
99         100    Nelson     julia7@outlook.com        80000  (41) 96066-9929

[100 rows x 5 columns]

In [35]:

# Fechar o cursor e a conexão
#cursor.close()
#conexao.close()

# data específica

In [38]:

query = "SELECT * FROM clientes WHERE Data_Nascimento = '1984-02-01';"
dfdata = pd.read_sql(query, conexao)

# Exiba o DataFrame
display(dfdata)

/tmp/ipykernel_8614/274271265.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dfdata = pd.read_sql(query, conexao)

,ID_Cliente,Nome,Sobrenome,Data_Nascimento,Estado_Civil,Sexo,Email,Telefone,Renda_Anual,Qtd_Filhos,Escolaridade
0,9,Jacquelyn,Suarez,1984-02-01,S,F,jacquelyn20@hotmail.com,(31) 98159-7254,70000,0,Pós-graduado

In [43]:
query = "SELECT * FROM clientes WHERE Data_Nascimento = '1984-02-01' AND Renda_Anual > 5000;"
dfdata2 = pd.read_sql(query, conexao)

# Exiba o DataFrame
display(dfdata2)

/tmp/ipykernel_8614/1657006879.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dfdata2 = pd.read_sql(query, conexao)

,ID_Cliente,Nome,Sobrenome,Data_Nascimento,Estado_Civil,Sexo,Email,Telefone,Renda_Anual,Qtd_Filhos,Escolaridade
0,9,Jacquelyn,Suarez,1984-02-01,S,F,jacquelyn20@hotmail.com,(31) 98159-7254,70000,0,Pós-graduado

In [47]:
#query = "SELECT * FROM pedidos WHERE Data_Venda >= '2019-01-03';"
print('nasceu depois de 1979 e com renda abaixo dos 50000')
query = "SELECT * FROM clientes WHERE Data_Nascimento >= '1980-01-01' AND Renda_Anual < 50000;"

dfdata3 = pd.read_sql(query, conexao)

# Exiba o DataFrame
display(dfdata3)

nasceu depois de 1979 e com renda abaixo dos 50000

/tmp/ipykernel_8614/484289044.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dfdata3 = pd.read_sql(query, conexao)

,ID_Cliente,Nome,Sobrenome,Data_Nascimento,Estado_Civil,Sexo,Email,Telefone,Renda_Anual,Qtd_Filhos,Escolaridade
0,14,Chloe,Young,1999-02-22,S,F,chloe23@hotmail.com,(71) 96890-7150,30000,0,Parcial
1,15,Wyatt,Hill,1999-04-23,C,M,wyatt32@gmail.com,(71) 98644-2695,30000,0,Parcial
2,18,Jordan,King,1998-09-15,S,M,jordan73@gmail.com,(31) 99592-6279,40000,0,Ensino médio
3,19,Destiny,Wilson,1998-08-29,S,F,destiny7@hotmail.com,(21) 99431-6061,40000,0,Parcial
4,20,Ethan,Zhang,1998-10-07,C,M,ethan20@hotmail.com,(11) 96440-6637,40000,0,Parcial
5,21,Seth,Edwards,1998-10-06,C,M,seth46@gmail.com,(41) 97012-3526,40000,0,Parcial
6,35,Chloe,Garcia,1997-11-22,S,F,chloe27@gmail.com,(21) 94134-4552,40000,0,Parcial
7,38,Jesse,Murphy,1997-07-27,C,M,jesse15@outlook.com,(62) 99674-9226,30000,0,Parcial
8,47,Carol,Rai,2000-07-13,S,F,carol8@outlook.com,(11) 94585-9364,40000,0,Parcial
9,60,Noah,Powell,1995-08-28,C,M,noah5@outlook.com,(85) 98162-6253,40000,0,Ensino médio
10,61,Angela,Murphy,1995-04-02,S,F,angela41@outlook.com,None,40000,0,Ensino médio
11,62,Chase,Reed,1995-12-02,C,M,chase21@hotmail.com,,40000,0,Ensino médio
12,76,Gina,Martin,1994-01-05,S,F,gina1@outlook.com,(21) 96190-3171,40000,0,Ensino médio

In [53]:
# Fechar o cursor e a conexão
cursor.close()
conexao.close()

In [56]:
import mysql.connector

# Configurar a conexão com o banco de dados
conexao = mysql.connector.connect(
    host='localhost',
    user='root',
    password='admin',
    database='clientes_banco_backup',
)

# Criar um cursor
cursor = conexao.cursor()

In [60]:
#query = "SELECT * FROM pedidos"

#cursor.execute(query)

cursor.execute("SHOW TABLES")

# Obter todos os resultados da consulta
resultados = cursor.fetchall()

# Exibir os resultados
for linha in resultados:
    print(linha)

('clientes',)

In [61]:
# Executar a consulta SQL para selecionar todos os dados da tabela
query = "SELECT * FROM clientes"
dfcli = pd.read_sql(query, conexao)

# Exiba o DataFrame
display(dfcli)

/tmp/ipykernel_8614/565086174.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dfcli = pd.read_sql(query, conexao)

,ID_Cliente,Nome,Sobrenome,Data_Nascimento,Estado_Civil,Sexo,Email,Telefone,Renda_Anual,Qtd_Filhos,Escolaridade
0,1,Ruben,Torres,1985-08-07,C,M,ruben35@hotmail.com,(85) 94132-1176,60000,3,Pós-graduado
1,2,Christy,Zhu,1988-02-10,S,F,christy12@hotmail.com,(41) 96270-6086,70000,0,Pós-graduado
2,3,Elizabeth,Johnson,1988-08-03,S,F,elizabeth5@gmail.com,(31) 92039-5832,80000,5,Pós-graduado
3,4,Julio,Ruiz,1985-07-31,S,M,julio1@hotmail.com,(62) 93391-5891,70000,0,Pós-graduado
4,5,Janet,Alvarez,1985-12-01,S,F,janet9@gmail.com,(21) 93379-3743,70000,0,Pós-graduado
...,...,...,...,...,...,...,...,...,...,...,...
95,96,Mallory,Rubio,1981-04-26,S,F,mallory7@hotmail.com,(62) 93152-6617,60000,1,Parcial
96,97,Adam,Ross,1981-03-03,C,M,adam2@hotmail.com,(31) 96502-3482,60000,1,Pós-graduado
97,98,Latasha,Navarro,1980-09-10,S,F,latasha10@outlook.com,None,60000,1,Parcial
98,99,Abby,Sai,1985-05-03,S,F,abby4@hotmail.com,(85) 98841-5381,70000,0,Pós-graduado
99,100,Julia,Nelson,1985-04-16,S,F,julia7@outlook.com,(41) 96066-9929,80000,5,Pós-graduado

In [62]:
print('Clientes solteiros')
query = "SELECT * FROM clientes WHERE Estado_Civil = 'S';"
dfc1 = pd.read_sql(query, conexao)

# Exiba o DataFrame
display(dfc1)

Clientes solteiros

/tmp/ipykernel_8614/4029083662.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dfc1 = pd.read_sql(query, conexao)

,ID_Cliente,Nome,Sobrenome,Data_Nascimento,Estado_Civil,Sexo,Email,Telefone,Renda_Anual,Qtd_Filhos,Escolaridade
0,2,Christy,Zhu,1988-02-10,S,F,christy12@hotmail.com,(41) 96270-6086,70000,0,Pós-graduado
1,3,Elizabeth,Johnson,1988-08-03,S,F,elizabeth5@gmail.com,(31) 92039-5832,80000,5,Pós-graduado
2,4,Julio,Ruiz,1985-07-31,S,M,julio1@hotmail.com,(62) 93391-5891,70000,0,Pós-graduado
3,5,Janet,Alvarez,1985-12-01,S,F,janet9@gmail.com,(21) 93379-3743,70000,0,Pós-graduado
4,7,Rob,Verhoff,1984-07-02,S,F,rob4@hotmail.com,(11) 98162-4760,60000,4,Pós-graduado
5,8,Shannon,Carlson,1984-03-27,S,M,shannon38@gmail.com,(85) 96795-9950,70000,0,Pós-graduado
6,9,Jacquelyn,Suarez,1984-02-01,S,F,jacquelyn20@hotmail.com,(31) 98159-7254,70000,0,Pós-graduado
7,13,Sydney,Bennett,1988-05-04,S,F,sydney23@gmail.com,(11) 92024-9186,100000,3,Pós-graduado
8,14,Chloe,Young,1999-02-22,S,F,chloe23@hotmail.com,(71) 96890-7150,30000,0,Parcial
9,16,Shannon,Wang,1964-06-21,S,F,shannon1@hotmail.com,(71) 94496-1712,20000,4,Ensino médio
10,17,Clarence,Rai,1964-10-04,S,M,clarence32@outlook.com,(21) 98923-7805,30000,2,Parcial
11,18,Jordan,King,1998-09-15,S,M,jordan73@gmail.com,(31) 99592-6279,40000,0,Ensino médio
12,19,Destiny,Wilson,1998-08-29,S,F,destiny7@hotmail.com,(21) 99431-6061,40000,0,Parcial
13,24,Harold,Sai,1966-03-29,S,M,harold3@hotmail.com,(31) 95052-6286,30000,2,Parcial
14,35,Chloe,Garcia,1997-11-22,S,F,chloe27@gmail.com,(21) 94134-4552,40000,0,Parcial
15,43,Leonard,Nara,1970-05-14,S,M,leonard18@outlook.com,(31) 93245-4616,30000,3,Ensino médio
16,47,Carol,Rai,2000-07-13,S,F,carol8@outlook.com,(11) 94585-9364,40000,0,Parcial
17,49,Daniel,Johnson,1971-07-30,S,M,daniel18@gmail.com,(31) 98422-3549,30000,3,Ensino médio
18,50,Heidi,Lopez,1971-08-02,S,F,heidi19@outlook.com,(11) 92303-4933,40000,2,Parcial
19,57,Ashlee,Andersen,1974-03-27,S,F,ashlee19@gmail.com,(85) 97355-1991,80000,2,Parcial
20,61,Angela,Murphy,1995-04-02,S,F,angela41@outlook.com,None,40000,0,Ensino médio
21,65,Caleb,Carter,1996-09-20,S,M,caleb40@gmail.com,(31) 97809-1800,60000,0,Parcial
22,66,Tiffany,Liang,1975-09-18,S,F,tiffany17@gmail.com,(21) 97231-3503,80000,2,Ensino médio
23,67,Carolyn,Navarro,1975-09-16,S,F,carolyn30@outlook.com,(21) 94139-6777,80000,2,Ensino médio
24,69,Linda,Serrano,1975-06-21,S,F,linda31@hotmail.com,(21) 92428-2938,80000,2,Ensino médio
25,70,Casey,Luo,1975-02-01,S,F,casey6@outlook.com,(31) 96609-9916,80000,2,Ensino médio
26,71,Amy,Ye,1976-08-09,S,F,amy16@hotmail.com,(41) 92958-3807,70000,2,Ensino médio
27,72,Levi,Arun,1976-08-23,S,M,levi6@gmail.com,(71) 92754-9983,70000,2,Ensino médio
28,73,Felicia,Jimenez,1977-11-11,S,F,felicia4@gmail.com,(85) 95647-1806,80000,2,Ensino médio
29,74,Blake,Anderson,1977-07-08,S,M,blake9@gmail.com,(11) 98232-2736,80000,2,Ensino médio
30,75,Leah,Ye,1977-09-14,S,F,leah7@hotmail.com,(31) 95663-3082,80000,2,Ensino médio
31,76,Gina,Martin,1994-01-05,S,F,gina1@outlook.com,(21) 96190-3171,40000,0,Ensino médio
32,77,Donald,Gonzalez,1979-03-06,S,M,donald20@gmail.com,(31) 96897-9735,160000,0,Graduação
33,80,Angela,Butler,1986-07-30,S,F,angela17@gmail.com,(31) 99100-6309,130000,0,Graduação
34,82,Lucas,Phillips,1977-09-07,S,M,lucas7@outlook.com,(62) 94668-3507,80000,2,Parcial
35,83,Emily,Johnson,1977-07-14,S,F,emily1@gmail.com,(11) 98332-4796,60000,2,Ensino médio
36,87,Abigail,Price,1977-01-31,S,F,abigail25@outlook.com,(62) 98956-4719,80000,2,Pós-graduado
37,88,Trevor,Bryant,1977-12-12,S,M,trevor18@gmail.com,None,90000,2,Parcial
38,92,Cedric,Ma,1982-03-27,S,M,cedric15@outlook.com,(31) 95423-4764,70000,1,Parcial
39,93,Chad,Kumar,1982-08-27,S,M,chad9@gmail.com,(21) 98828-7409,70000,1,Parcial
40,96,Mallory,Rubio,1981-04-26,S,F,mallory7@hotmail.com,(62) 93152-6617,60000,1,Parcial
41,98,Latasha,Navarro,1980-09-10,S,F,latasha10@outlook.com,None,60000,1,Parcial
42,99,Abby,Sai,1985-05-03,S,F,abby4@hotmail.com,(85) 98841-5381,70000,0,Pós-graduado
43,100,Julia,Nelson,1985-04-16,S,F,julia7@outlook.com,(41) 96066-9929,80000,5,Pós-graduado

In [63]:





print('Clientes solteiros e do sexo masculino')
query = "SELECT * FROM clientes WHERE Estado_Civil = 'S' AND Sexo ='M';"
dfc2 = pd.read_sql(query, conexao)

# Exiba o DataFrame
display(dfc2)

Clientes solteiros e do sexo masculino

/tmp/ipykernel_8614/2052000984.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dfc2 = pd.read_sql(query, conexao)

,ID_Cliente,Nome,Sobrenome,Data_Nascimento,Estado_Civil,Sexo,Email,Telefone,Renda_Anual,Qtd_Filhos,Escolaridade
0,4,Julio,Ruiz,1985-07-31,S,M,julio1@hotmail.com,(62) 93391-5891,70000,0,Pós-graduado
1,8,Shannon,Carlson,1984-03-27,S,M,shannon38@gmail.com,(85) 96795-9950,70000,0,Pós-graduado
2,17,Clarence,Rai,1964-10-04,S,M,clarence32@outlook.com,(21) 98923-7805,30000,2,Parcial
3,18,Jordan,King,1998-09-15,S,M,jordan73@gmail.com,(31) 99592-6279,40000,0,Ensino médio
4,24,Harold,Sai,1966-03-29,S,M,harold3@hotmail.com,(31) 95052-6286,30000,2,Parcial
5,43,Leonard,Nara,1970-05-14,S,M,leonard18@outlook.com,(31) 93245-4616,30000,3,Ensino médio
6,49,Daniel,Johnson,1971-07-30,S,M,daniel18@gmail.com,(31) 98422-3549,30000,3,Ensino médio
7,65,Caleb,Carter,1996-09-20,S,M,caleb40@gmail.com,(31) 97809-1800,60000,0,Parcial
8,72,Levi,Arun,1976-08-23,S,M,levi6@gmail.com,(71) 92754-9983,70000,2,Ensino médio
9,74,Blake,Anderson,1977-07-08,S,M,blake9@gmail.com,(11) 98232-2736,80000,2,Ensino médio
10,77,Donald,Gonzalez,1979-03-06,S,M,donald20@gmail.com,(31) 96897-9735,160000,0,Graduação
11,82,Lucas,Phillips,1977-09-07,S,M,lucas7@outlook.com,(62) 94668-3507,80000,2,Parcial
12,88,Trevor,Bryant,1977-12-12,S,M,trevor18@gmail.com,None,90000,2,Parcial
13,92,Cedric,Ma,1982-03-27,S,M,cedric15@outlook.com,(31) 95423-4764,70000,1,Parcial
14,93,Chad,Kumar,1982-08-27,S,M,chad9@gmail.com,(21) 98828-7409,70000,1,Parcial

In [64]:
# Fechar o cursor e a conexão
cursor.close()
conexao.close()