In [31]:
# Fechar o cursor e a conexão
#cursor.close()
#conexao.close()

In [18]:
import mysql.connector

# Conectar ao MySQL sem especificar o banco de dados
conexao = mysql.connector.connect(
    host='localhost',
    user='fabiroot',
    password='admin'
)

cursor = conexao.cursor()

# Criar o banco de dados 'banco_dados_teste'
cursor.execute("CREATE DATABASE IF NOT EXISTS Teste_transporte")

In [19]:
# Fechar a conexão
#cursor.close()
#conexao.close()

print("Banco de dados 'banco_dados_teste' criado com sucesso!")

Banco de dados 'banco_dados_teste' criado com sucesso!

In [20]:
# Selecionar o banco de dados recém-criado
cursor.execute("USE Teste_transporte")

In [21]:
#CREATE

# Execute the SQL query 
#-- Table structure for table `motoristas`

# Agora você pode criar tabelas ou inserir dados no banco de dados correto
cursor.execute("DROP TABLE IF EXISTS motoristas")  # Exemplo de tabela para ser excluída

In [22]:
cursor.execute("""

CREATE TABLE motoristas (
  id int(11) NOT NULL AUTO_INCREMENT,
  nome varchar(45) COLLATE utf8_unicode_ci DEFAULT NULL,
  foto varchar(245) COLLATE utf8_unicode_ci DEFAULT NULL,
  ficha varchar(245) COLLATE utf8_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=7 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;


""")

# Comitar as mudanças
conexao.commit()

In [23]:
# Inserção dos dados
cursor.execute("""
INSERT INTO motoristas (nome, foto, ficha) VALUES 
('José', 'https://ayltoninacio.com.br/download/curso-gds/img/m1.jpg', 'https://ayltoninacio.com.br/download/curso-gds/motorista.php?id=1'),
('Maria', 'https://ayltoninacio.com.br/download/curso-gds/img/m2.jpg', 'https://ayltoninacio.com.br/download/curso-gds/motorista.php?id=2'),
('Pedro', 'https://ayltoninacio.com.br/download/curso-gds/img/m3.jpg', 'https://ayltoninacio.com.br/download/curso-gds/motorista.php?id=3'),
('Marcos', 'https://ayltoninacio.com.br/download/curso-gds/img/m4.jpg', 'https://ayltoninacio.com.br/download/curso-gds/motorista.php?id=4'),
('Manoel', 'https://ayltoninacio.com.br/download/curso-gds/img/m5.jpg', 'https://ayltoninacio.com.br/download/curso-gds/motorista.php?id=5'),
('Cristina', 'https://ayltoninacio.com.br/download/curso-gds/img/m6.jpg', 'https://ayltoninacio.com.br/download/curso-gds/motorista.php?id=6')
""")

# Comitar as mudanças
conexao.commit()

In [24]:


# Seleção dos dados para visualização
cursor.execute("SELECT * FROM motoristas")

In [25]:
# Obter todos os resultados
resultados = cursor.fetchall()

# Exibir os resultados
for row in resultados:
    print(row)

(7, 'José', 'https://ayltoninacio.com.br/download/curso-gds/img/m1.jpg', 'https://ayltoninacio.com.br/download/curso-gds/motorista.php?id=1')
(8, 'Maria', 'https://ayltoninacio.com.br/download/curso-gds/img/m2.jpg', 'https://ayltoninacio.com.br/download/curso-gds/motorista.php?id=2')
(9, 'Pedro', 'https://ayltoninacio.com.br/download/curso-gds/img/m3.jpg', 'https://ayltoninacio.com.br/download/curso-gds/motorista.php?id=3')
(10, 'Marcos', 'https://ayltoninacio.com.br/download/curso-gds/img/m4.jpg', 'https://ayltoninacio.com.br/download/curso-gds/motorista.php?id=4')
(11, 'Manoel', 'https://ayltoninacio.com.br/download/curso-gds/img/m5.jpg', 'https://ayltoninacio.com.br/download/curso-gds/motorista.php?id=5')
(12, 'Cristina', 'https://ayltoninacio.com.br/download/curso-gds/img/m6.jpg', 'https://ayltoninacio.com.br/download/curso-gds/motorista.php?id=6')

# -- Table structure for table `viagens`

In [26]:
# Agora você pode criar tabelas ou inserir dados no banco de dados correto
cursor.execute("DROP TABLE IF EXISTS viagens")  # Exemplo de tabela para ser excluída

cursor.execute("""
CREATE TABLE viagens (
  id int(11) NOT NULL AUTO_INCREMENT,
  id_motorista int(11) DEFAULT NULL,
  destino varchar(45) COLLATE utf8_unicode_ci DEFAULT NULL,
  data_saida date DEFAULT NULL,
  hora_saida time DEFAULT NULL,
  data_chegada date DEFAULT NULL,
  hora_chegada time DEFAULT NULL,
  valor float DEFAULT NULL,
  PRIMARY KEY (id)
) ENGINE=MyISAM AUTO_INCREMENT=27 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

""")

# Comitar as mudanças
conexao.commit()

# -- Dumping data for table `viagens`

In [27]:
cursor.execute("""
CREATE TABLE viagens (
    id INT AUTO_INCREMENT PRIMARY KEY,
    motorista_id INT,
    destino VARCHAR(100),
    data_saida DATE,
    hora_saida TIME,
    data_chegada DATE,
    hora_chegada TIME,
    valor INT
)
""")

# Comitar a criação da tabela
conexao.commit()

In [28]:
# Iniciar bloqueio da tabela antes de inserção
cursor.execute("LOCK TABLES viagens WRITE")

In [29]:
# Inserção de dados # colocar certo o valor exato dos nomes das colunas
cursor.execute("""INSERT INTO viagens (id, motorista_id, destino, data_saida, hora_saida, data_chegada, hora_chegada, valor)
VALUES (1,3,'SP - Sumaré','2020-12-29','08:00:00','2021-01-02','10:00:00',30000),
(2,2,'SP - Campinas','2020-12-30','16:45:00','2021-01-01','20:30:00',40000),
(3,4,'RJ - Rio de Janeiro','2021-01-01','06:00:00','2021-01-03','22:15:00',5000),
(4,5,'BA - Salvador','2021-01-01','07:45:00','2021-01-04','03:00:00',2500),
(5,1,'SP - Campinas','2021-01-01','20:00:00','2021-01-02','04:00:00',15000),
(6,1,'SP - Araraquara','2021-01-02','08:00:00','2021-01-06','23:30:00',10000),
(7,6,'SP - Ribeirão Preto','2021-01-02','16:00:00','2021-01-05','23:00:00',3000),
(8,2,'MG - Pouso Alegre','2021-01-05','10:00:00','2021-01-09','05:00:00',20000),
(9,3,'SP - Campinas','2021-01-09','02:15:00','2021-01-09','06:00:00',25000),
(10,6,'SP - São Paulo','2021-01-09','04:00:00','2021-01-09','09:15:00',70000),
(11,5,'SP - Campinas','2021-01-09','17:00:00','2021-01-09','22:30:00',50000),
(12,1,'SP - Guarulhos','2021-01-09','21:30:00','2021-01-10','01:45:00',80000),
(13,2,'PB - João Pessoa','2021-01-12','15:00:00','2021-01-15','12:00:00',100000),
(14,4,'SP - Campinas','2021-01-12','15:00:00','2021-01-13','18:00:00',110000),
(15,1,'SP - Campinas','2021-01-15','23:30:00','2021-01-20','20:30:00',150000),
(16,2,'MG - Pouso Alegre','2021-01-16','22:00:00','2021-01-23','22:15:00',50000),
(17,4,'ES - Vitória','2021-01-18','21:15:00','2021-01-19','22:45:00',20000),
(18,5,'ES - Vitória','2021-01-19','20:00:00','2021-01-19','23:00:00',10000),
(19,1,'MG - Pouso Alegre','2021-01-21','08:30:00','2021-01-22','00:00:00',180000),
(20,6,'SP - Campinas','2021-01-22','01:00:00','2021-01-22','05:45:00',120000),
(21,3,'SP - Campinas','2021-01-25','09:00:00','2021-01-30','16:00:00',80000),
(22,5,'RN - Natal','2021-01-25','11:45:00','2021-01-26','15:00:00',60000),
(23,2,'SP - Campinas','2021-01-28','07:45:00','2021-01-29','18:15:00',90000),
(24,4,'SP - Campinas','2021-01-30','00:30:00','2021-02-01','22:00:00',10000),
(25,6,'ES - Vitória','2021-01-30','01:30:00','2021-02-02','15:00:00',130000),
(26,1,'RN - Natal','2021-01-30','20:00:00','2021-01-30','23:45:00',115000)



""")

# Comitar a inserção
conexao.commit()

In [30]:
# Seleção dos dados para visualização
cursor.execute("SELECT * FROM viagens")

# Obter todos os resultados
resultados2 = cursor.fetchall()

# Exibir os resultados
for row in resultados2:
    print(row)

(1, 3, 'SP - Sumaré', datetime.date(2020, 12, 29), datetime.timedelta(seconds=28800), datetime.date(2021, 1, 2), datetime.timedelta(seconds=36000), 30000)
(2, 2, 'SP - Campinas', datetime.date(2020, 12, 30), datetime.timedelta(seconds=60300), datetime.date(2021, 1, 1), datetime.timedelta(seconds=73800), 40000)
(3, 4, 'RJ - Rio de Janeiro', datetime.date(2021, 1, 1), datetime.timedelta(seconds=21600), datetime.date(2021, 1, 3), datetime.timedelta(seconds=80100), 5000)
(4, 5, 'BA - Salvador', datetime.date(2021, 1, 1), datetime.timedelta(seconds=27900), datetime.date(2021, 1, 4), datetime.timedelta(seconds=10800), 2500)
(5, 1, 'SP - Campinas', datetime.date(2021, 1, 1), datetime.timedelta(seconds=72000), datetime.date(2021, 1, 2), datetime.timedelta(seconds=14400), 15000)
(6, 1, 'SP - Araraquara', datetime.date(2021, 1, 2), datetime.timedelta(seconds=28800), datetime.date(2021, 1, 6), datetime.timedelta(seconds=84600), 10000)
(7, 6, 'SP - Ribeirão Preto', datetime.date(2021, 1, 2), datetime.timedelta(seconds=57600), datetime.date(2021, 1, 5), datetime.timedelta(seconds=82800), 3000)
(8, 2, 'MG - Pouso Alegre', datetime.date(2021, 1, 5), datetime.timedelta(seconds=36000), datetime.date(2021, 1, 9), datetime.timedelta(seconds=18000), 20000)
(9, 3, 'SP - Campinas', datetime.date(2021, 1, 9), datetime.timedelta(seconds=8100), datetime.date(2021, 1, 9), datetime.timedelta(seconds=21600), 25000)
(10, 6, 'SP - São Paulo', datetime.date(2021, 1, 9), datetime.timedelta(seconds=14400), datetime.date(2021, 1, 9), datetime.timedelta(seconds=33300), 70000)
(11, 5, 'SP - Campinas', datetime.date(2021, 1, 9), datetime.timedelta(seconds=61200), datetime.date(2021, 1, 9), datetime.timedelta(seconds=81000), 50000)
(12, 1, 'SP - Guarulhos', datetime.date(2021, 1, 9), datetime.timedelta(seconds=77400), datetime.date(2021, 1, 10), datetime.timedelta(seconds=6300), 80000)
(13, 2, 'PB - João Pessoa', datetime.date(2021, 1, 12), datetime.timedelta(seconds=54000), datetime.date(2021, 1, 15), datetime.timedelta(seconds=43200), 100000)
(14, 4, 'SP - Campinas', datetime.date(2021, 1, 12), datetime.timedelta(seconds=54000), datetime.date(2021, 1, 13), datetime.timedelta(seconds=64800), 110000)
(15, 1, 'SP - Campinas', datetime.date(2021, 1, 15), datetime.timedelta(seconds=84600), datetime.date(2021, 1, 20), datetime.timedelta(seconds=73800), 150000)
(16, 2, 'MG - Pouso Alegre', datetime.date(2021, 1, 16), datetime.timedelta(seconds=79200), datetime.date(2021, 1, 23), datetime.timedelta(seconds=80100), 50000)
(17, 4, 'ES - Vitória', datetime.date(2021, 1, 18), datetime.timedelta(seconds=76500), datetime.date(2021, 1, 19), datetime.timedelta(seconds=81900), 20000)
(18, 5, 'ES - Vitória', datetime.date(2021, 1, 19), datetime.timedelta(seconds=72000), datetime.date(2021, 1, 19), datetime.timedelta(seconds=82800), 10000)
(19, 1, 'MG - Pouso Alegre', datetime.date(2021, 1, 21), datetime.timedelta(seconds=30600), datetime.date(2021, 1, 22), datetime.timedelta(0), 180000)
(20, 6, 'SP - Campinas', datetime.date(2021, 1, 22), datetime.timedelta(seconds=3600), datetime.date(2021, 1, 22), datetime.timedelta(seconds=20700), 120000)
(21, 3, 'SP - Campinas', datetime.date(2021, 1, 25), datetime.timedelta(seconds=32400), datetime.date(2021, 1, 30), datetime.timedelta(seconds=57600), 80000)
(22, 5, 'RN - Natal', datetime.date(2021, 1, 25), datetime.timedelta(seconds=42300), datetime.date(2021, 1, 26), datetime.timedelta(seconds=54000), 60000)
(23, 2, 'SP - Campinas', datetime.date(2021, 1, 28), datetime.timedelta(seconds=27900), datetime.date(2021, 1, 29), datetime.timedelta(seconds=65700), 90000)
(24, 4, 'SP - Campinas', datetime.date(2021, 1, 30), datetime.timedelta(seconds=1800), datetime.date(2021, 2, 1), datetime.timedelta(seconds=79200), 10000)
(25, 6, 'ES - Vitória', datetime.date(2021, 1, 30), datetime.timedelta(seconds=5400), datetime.date(2021, 2, 2), datetime.timedelta(seconds=54000), 130000)
(26, 1, 'RN - Natal', datetime.date(2021, 1, 30), datetime.timedelta(seconds=72000), datetime.date(2021, 1, 30), datetime.timedelta(seconds=85500), 115000)

In [32]:
# Fechar o cursor e a conexão
cursor.close()
conexao.close()

In [33]:
import mysql.connector

# Conectar ao MySQL sem especificar o banco de dados
conexao = mysql.connector.connect(
    host='localhost',
    user='fabiroot',
    password='admin'
)

cursor = conexao.cursor()

In [34]:
#contando dados 
# Select the database
cursor.execute(f"show databases;")

In [35]:
# Obter todos os resultados da consulta
resultados_databases = cursor.fetchall()

In [36]:
print(resultados_databases)
print()
for linha in resultados_databases:
    print(linha[0])

[('Teste_transporte',), ('information_schema',), ('mysql',), ('performance_schema',), ('sys',)]

Teste_transporte
information_schema
mysql
performance_schema
sys

In [37]:
# Select the database
database_name = "mysql"
cursor.execute(f"USE {database_name}")

In [38]:
# Obter todos os resultados da consulta
resultados_databases_mysql = cursor.fetchall()

In [39]:
resultados_databases_mysql

[]

In [42]:
cursor.execute(f"USE Teste_transporte;")
# Obter todos os resultados da consulta
resultados_databases_mysql = cursor.fetchall()
resultados_databases_mysql

[]

In [44]:
# Fechar o cursor e a conexão
cursor.close()
conexao.close()

In [46]:
import mysql.connector

# Configurar a conexão com o banco de dados
conexao = mysql.connector.connect(
    host='localhost',
    user='fabiroot',
    password='admin',
    database='Teste_transporte',
)

# Criar um cursor
cursor = conexao.cursor()

In [48]:
# Executar uma consulta para visualizar os dados inseridos
cursor.execute("SELECT * FROM viagens")

# Recuperar todos os resultados
resultados = cursor.fetchall()

# Exibir os resultados
for row in resultados:
    print(row)

(1, 3, 'SP - Sumaré', datetime.date(2020, 12, 29), datetime.timedelta(seconds=28800), datetime.date(2021, 1, 2), datetime.timedelta(seconds=36000), 30000)
(2, 2, 'SP - Campinas', datetime.date(2020, 12, 30), datetime.timedelta(seconds=60300), datetime.date(2021, 1, 1), datetime.timedelta(seconds=73800), 40000)
(3, 4, 'RJ - Rio de Janeiro', datetime.date(2021, 1, 1), datetime.timedelta(seconds=21600), datetime.date(2021, 1, 3), datetime.timedelta(seconds=80100), 5000)
(4, 5, 'BA - Salvador', datetime.date(2021, 1, 1), datetime.timedelta(seconds=27900), datetime.date(2021, 1, 4), datetime.timedelta(seconds=10800), 2500)
(5, 1, 'SP - Campinas', datetime.date(2021, 1, 1), datetime.timedelta(seconds=72000), datetime.date(2021, 1, 2), datetime.timedelta(seconds=14400), 15000)
(6, 1, 'SP - Araraquara', datetime.date(2021, 1, 2), datetime.timedelta(seconds=28800), datetime.date(2021, 1, 6), datetime.timedelta(seconds=84600), 10000)
(7, 6, 'SP - Ribeirão Preto', datetime.date(2021, 1, 2), datetime.timedelta(seconds=57600), datetime.date(2021, 1, 5), datetime.timedelta(seconds=82800), 3000)
(8, 2, 'MG - Pouso Alegre', datetime.date(2021, 1, 5), datetime.timedelta(seconds=36000), datetime.date(2021, 1, 9), datetime.timedelta(seconds=18000), 20000)
(9, 3, 'SP - Campinas', datetime.date(2021, 1, 9), datetime.timedelta(seconds=8100), datetime.date(2021, 1, 9), datetime.timedelta(seconds=21600), 25000)
(10, 6, 'SP - São Paulo', datetime.date(2021, 1, 9), datetime.timedelta(seconds=14400), datetime.date(2021, 1, 9), datetime.timedelta(seconds=33300), 70000)
(11, 5, 'SP - Campinas', datetime.date(2021, 1, 9), datetime.timedelta(seconds=61200), datetime.date(2021, 1, 9), datetime.timedelta(seconds=81000), 50000)
(12, 1, 'SP - Guarulhos', datetime.date(2021, 1, 9), datetime.timedelta(seconds=77400), datetime.date(2021, 1, 10), datetime.timedelta(seconds=6300), 80000)
(13, 2, 'PB - João Pessoa', datetime.date(2021, 1, 12), datetime.timedelta(seconds=54000), datetime.date(2021, 1, 15), datetime.timedelta(seconds=43200), 100000)
(14, 4, 'SP - Campinas', datetime.date(2021, 1, 12), datetime.timedelta(seconds=54000), datetime.date(2021, 1, 13), datetime.timedelta(seconds=64800), 110000)
(15, 1, 'SP - Campinas', datetime.date(2021, 1, 15), datetime.timedelta(seconds=84600), datetime.date(2021, 1, 20), datetime.timedelta(seconds=73800), 150000)
(16, 2, 'MG - Pouso Alegre', datetime.date(2021, 1, 16), datetime.timedelta(seconds=79200), datetime.date(2021, 1, 23), datetime.timedelta(seconds=80100), 50000)
(17, 4, 'ES - Vitória', datetime.date(2021, 1, 18), datetime.timedelta(seconds=76500), datetime.date(2021, 1, 19), datetime.timedelta(seconds=81900), 20000)
(18, 5, 'ES - Vitória', datetime.date(2021, 1, 19), datetime.timedelta(seconds=72000), datetime.date(2021, 1, 19), datetime.timedelta(seconds=82800), 10000)
(19, 1, 'MG - Pouso Alegre', datetime.date(2021, 1, 21), datetime.timedelta(seconds=30600), datetime.date(2021, 1, 22), datetime.timedelta(0), 180000)
(20, 6, 'SP - Campinas', datetime.date(2021, 1, 22), datetime.timedelta(seconds=3600), datetime.date(2021, 1, 22), datetime.timedelta(seconds=20700), 120000)
(21, 3, 'SP - Campinas', datetime.date(2021, 1, 25), datetime.timedelta(seconds=32400), datetime.date(2021, 1, 30), datetime.timedelta(seconds=57600), 80000)
(22, 5, 'RN - Natal', datetime.date(2021, 1, 25), datetime.timedelta(seconds=42300), datetime.date(2021, 1, 26), datetime.timedelta(seconds=54000), 60000)
(23, 2, 'SP - Campinas', datetime.date(2021, 1, 28), datetime.timedelta(seconds=27900), datetime.date(2021, 1, 29), datetime.timedelta(seconds=65700), 90000)
(24, 4, 'SP - Campinas', datetime.date(2021, 1, 30), datetime.timedelta(seconds=1800), datetime.date(2021, 2, 1), datetime.timedelta(seconds=79200), 10000)
(25, 6, 'ES - Vitória', datetime.date(2021, 1, 30), datetime.timedelta(seconds=5400), datetime.date(2021, 2, 2), datetime.timedelta(seconds=54000), 130000)
(26, 1, 'RN - Natal', datetime.date(2021, 1, 30), datetime.timedelta(seconds=72000), datetime.date(2021, 1, 30), datetime.timedelta(seconds=85500), 115000)

In [51]:
# Executar a consulta para contar o número de tabelas no banco de dados
cursor.execute("SHOW TABLES")

# Recuperar todos os resultados
tabelas = cursor.fetchall()

# Exibir o número de tabelas
print(f"Quantidade de tabelas no banco de dados: {len(tabelas)}: {tabelas[0]} e {tabelas[1]}")

Quantidade de tabelas no banco de dados: 2: ('motoristas',) e ('viagens',)

In [53]:
import pandas as pd

In [54]:
# Executar a consulta SQL para selecionar todos os dados da tabela
query = "SELECT * FROM viagens"
#cursor.execute(query)
result_viagens = pd.read_sql(query, conexao)
result_viagens

/tmp/ipykernel_20397/1790917450.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_viagens = pd.read_sql(query, conexao)

,id,motorista_id,destino,data_saida,hora_saida,data_chegada,hora_chegada,valor
0,1,3,SP - Sumaré,2020-12-29,0 days 08:00:00,2021-01-02,0 days 10:00:00,30000
1,2,2,SP - Campinas,2020-12-30,0 days 16:45:00,2021-01-01,0 days 20:30:00,40000
2,3,4,RJ - Rio de Janeiro,2021-01-01,0 days 06:00:00,2021-01-03,0 days 22:15:00,5000
3,4,5,BA - Salvador,2021-01-01,0 days 07:45:00,2021-01-04,0 days 03:00:00,2500
4,5,1,SP - Campinas,2021-01-01,0 days 20:00:00,2021-01-02,0 days 04:00:00,15000
5,6,1,SP - Araraquara,2021-01-02,0 days 08:00:00,2021-01-06,0 days 23:30:00,10000
6,7,6,SP - Ribeirão Preto,2021-01-02,0 days 16:00:00,2021-01-05,0 days 23:00:00,3000
7,8,2,MG - Pouso Alegre,2021-01-05,0 days 10:00:00,2021-01-09,0 days 05:00:00,20000
8,9,3,SP - Campinas,2021-01-09,0 days 02:15:00,2021-01-09,0 days 06:00:00,25000
9,10,6,SP - São Paulo,2021-01-09,0 days 04:00:00,2021-01-09,0 days 09:15:00,70000
10,11,5,SP - Campinas,2021-01-09,0 days 17:00:00,2021-01-09,0 days 22:30:00,50000
11,12,1,SP - Guarulhos,2021-01-09,0 days 21:30:00,2021-01-10,0 days 01:45:00,80000
12,13,2,PB - João Pessoa,2021-01-12,0 days 15:00:00,2021-01-15,0 days 12:00:00,100000
13,14,4,SP - Campinas,2021-01-12,0 days 15:00:00,2021-01-13,0 days 18:00:00,110000
14,15,1,SP - Campinas,2021-01-15,0 days 23:30:00,2021-01-20,0 days 20:30:00,150000
15,16,2,MG - Pouso Alegre,2021-01-16,0 days 22:00:00,2021-01-23,0 days 22:15:00,50000
16,17,4,ES - Vitória,2021-01-18,0 days 21:15:00,2021-01-19,0 days 22:45:00,20000
17,18,5,ES - Vitória,2021-01-19,0 days 20:00:00,2021-01-19,0 days 23:00:00,10000
18,19,1,MG - Pouso Alegre,2021-01-21,0 days 08:30:00,2021-01-22,0 days 00:00:00,180000
19,20,6,SP - Campinas,2021-01-22,0 days 01:00:00,2021-01-22,0 days 05:45:00,120000
20,21,3,SP - Campinas,2021-01-25,0 days 09:00:00,2021-01-30,0 days 16:00:00,80000
21,22,5,RN - Natal,2021-01-25,0 days 11:45:00,2021-01-26,0 days 15:00:00,60000
22,23,2,SP - Campinas,2021-01-28,0 days 07:45:00,2021-01-29,0 days 18:15:00,90000
23,24,4,SP - Campinas,2021-01-30,0 days 00:30:00,2021-02-01,0 days 22:00:00,10000
24,25,6,ES - Vitória,2021-01-30,0 days 01:30:00,2021-02-02,0 days 15:00:00,130000
25,26,1,RN - Natal,2021-01-30,0 days 20:00:00,2021-01-30,0 days 23:45:00,115000

In [56]:
# Executar a consulta para contar o número de tabelas no banco de dados
cursor.execute("SHOW TABLES")

# Recuperar todos os resultados
tabelas = cursor.fetchall()

# Exibir o número de tabelas
print(f"Quantidade de tabelas no banco de dados: {len(tabelas)}: {tabelas[0]} e {tabelas[1]}")

Quantidade de tabelas no banco de dados: 2: ('motoristas',) e ('viagens',)

In [57]:
# Executar a consulta SQL para selecionar todos os dados da tabela
query2 = "SELECT * FROM motoristas"
#cursor.execute(query)
result_motorista = pd.read_sql(query2, conexao)
result_motorista

/tmp/ipykernel_20397/2805304296.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_motorista = pd.read_sql(query2, conexao)

,id,nome,foto,ficha
0,7,José,https://ayltoninacio.com.br/download/curso-gds...,https://ayltoninacio.com.br/download/curso-gds...
1,8,Maria,https://ayltoninacio.com.br/download/curso-gds...,https://ayltoninacio.com.br/download/curso-gds...
2,9,Pedro,https://ayltoninacio.com.br/download/curso-gds...,https://ayltoninacio.com.br/download/curso-gds...
3,10,Marcos,https://ayltoninacio.com.br/download/curso-gds...,https://ayltoninacio.com.br/download/curso-gds...
4,11,Manoel,https://ayltoninacio.com.br/download/curso-gds...,https://ayltoninacio.com.br/download/curso-gds...
5,12,Cristina,https://ayltoninacio.com.br/download/curso-gds...,https://ayltoninacio.com.br/download/curso-gds...

In [58]:
# Fechar o cursor e a conexão
cursor.close()
conexao.close()